%div{'ng-controller' => "recentVmsLineChartController as vm", :class => "row", :style => "display:inline-block; width: 100%;"}
  %div{:class => "col-md-6"}
    %h3
      {{vm.data.config.title}}
    .row.row-tile-pf
      .col-xs-6.col-sm-6.col-md-6.example-trend-container-vms
        %pf-line-chart{'ng-attr-id' => "{{vm.id}}", 'config' => "vm.config", 'chart-data' => "vm.data", 'set-area-chart' => "vm.custAreaChart", 'show-x-axis' => "vm.custShowXAxis", 'show-y-axis' => "vm.custShowYAxis"}
        %span.trend-footer-pf{"ng-class" => "{ 'chart-transparent-text': vm.data.dataAvailable === false }"}
          = _("Last 30 Days")
