- id = unique_html_id('recent-resource')

%recent-resource{'provider-id' => @record.id,
                 'url'         => '/ems_infra_dashboard/recent_vms_data/',
                 'id'          => id}

:javascript
  miq_bootstrap('##{id}');
