.ems-infra-dashboard
  = render :partial => "aggregate-status-card"
  = render :partial => "heatmap"

:javascript
  ManageIQ.angular.app.value('providerId', '#{@record.id}');
  miq_bootstrap('.ems-infra-dashboard', '');
