#main_div
  - if EmsInfra.any?
    = render :partial => 'layouts/gtl'
  - else
    = render :partial => 'layouts/empty',
             :locals => {:add_message => _("Add a new Infrastructure Provider"),
                         :documentation => ::Settings.docs.infra_provider}
