%form.form-horizontal#form_div{:name                                 => "angularForm",
                               'ng-show'                             => "vm.afterGet",
                               'miq-form'                            => 'true',
                               'form-changed'                        => 'true',
                               'model'                               => 'vm.logCollectionModel',
                               'model-copy'                          => 'vm.modelCopy',
                               :novalidate                           => 1}
  = render :partial => "layouts/flash_msg"

  %h3
    {{vm.message}}

  .form-group
    %label.control-label.col-md-2
      = _("Type")
    .col-md-8
      = select_tag("log_protocol",
                   "",
                   "ng-options"                  => "value as label for (value, label) in vm.selectOptions",
                   "ng-model"                    => "vm.logCollectionModel.log_protocol",
                   "ng-change"                   => "vm.logProtocolChanged()",
                   "pf-select"                   => true,
                   "selectpicker-for-select-tag" => "",)
  = render :partial => "layouts/angular/generic_form_buttons"
