.row.miq-alerts-center
  .container-fluid{"ng-controller" => "alertsMostRecentController as vm"}
    .row.init-hidden{"ng-class" => "{'initialized': vm.loadingDone}"}
      %div{"pf-toolbar" => "", "config" => "vm.toolbarConfig"}
        %actions.recent-toolbar-actions
          %span
            = _("Show")
          %select{"miq-select" => "true",
                  "ng-model"   => "vm.showCount",
                  "ng-options" => "o as o for o in vm.showCounts",
                  "ng-change"  => "vm.filterChange()"}
          %span
            = _("alerts")
    = render :partial => "shared/views/alerts_list"

:javascript
  miq_bootstrap('.miq-alerts-center');
