/ begin: app/views/shared/views/_show_alerts_list.html.haml
.row.miq-alerts-center
  .container-fluid{"ng-controller" => "alertsListController as vm"}
    %span
      %ol.breadcrumb
        %li
          = _("Monitor")
        %li
          = _("Alerts")
        %li.active
          %strong
            = _("All Alerts")
    .row.init-hidden{"ng-class" => "{'initialized': vm.loadingDone}"}
      %div{"pf-toolbar" => "", "config" => "vm.toolbarConfig"}
    = render :partial => "shared/views/alerts_list"

:javascript
  miq_bootstrap('.miq-alerts-center', 'alertsCenter');
/ end: app/views/shared/views/_show_alerts_list.html.haml
