$pf-global--enable-reset: false;
$pf-global--disable-fontawesome: true;

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/scss/v4-shims.scss';
@import '~@patternfly/patternfly/patternfly.scss';
@import '~kubernetes-topology-graph/dist/topology-graph.css';
@import '~c3/c3.css';
@import '~patternfly-bootstrap-treeview/dist/bootstrap-treeview.min.css';
@import '~angular-patternfly/dist/styles/angular-patternfly.css';
@import '~@pf3/timeline/style.css';
@import '~graphiql/graphiql.css';
@import '~@manageiq/react-ui-components/dist/textual_summary.css';
@import '~@manageiq/react-ui-components/dist/tagging.css';
