.automate-simulation-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .automate-simulation-form-wrapper {
        border-right: 0.5px solid lightgray;
        width: 500px;
        padding: 25px;

        .automate-object-details, .automate-object-message, 
        .automate-object-request, .automate-object-attribute, 
        .automate-selection-target, .automate-readonly,
        .automate-simulation-parameters {
            margin-bottom: 5%;
        }

        .subform {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5%;
        }
    
        .custom-button-wrapper {
            display: flex;
            width: 100%;
            margin-top: 5%;
            padding-bottom: 20%;
            margin-left: 8%
        }
        .bx--btn--primary {
            margin-right: 8%;
            width: 40%;
        }
        .bx--btn--secondary {
            width: 40%;
        }

        .attributeValuePairLabel {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10%;
        }
    }

    .automate-simulation-summary-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 15px;
        padding-bottom: 10%;

        .simulation-title-text {
            font-size: x-large;
            font-weight: lighter;
        }
    }

    .summary-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}