// enable carbon UI shell
$feature-flags: (
  ui-shell: true,
);

// disable IBM fonts until we can override patternfly
$css--font-face: false;
$css--plex: false;

// don't break patternfly styling
$css--body: false;
$css--reset: false;
$css--default-type: false;

// Use the white theme
@import '~@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--white;
@include carbon--theme();

//we need this import statement for charts PNG and JPG download
@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed%7CIBM+Plex+Sans:400,600&display=swap';

@import '~@carbon/charts/styles.css';
@import '~carbon-components/scss/globals/scss/styles.scss';

// ignored by patternfly, but sets the right base for carbon rem units
html {
  font-size: 100%;
}
