// enable carbon UI shell
$feature-flags: (
  ui-shell: true,
);

// disable IBM fonts until we can override patternfly
$css--font-face: false;
$css--plex: false;

// don't break patternfly styling
$css--body: false;
$css--reset: false;
$css--default-type: false;

// Use the gray 90 theme
@import '~@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

@import '~carbon-components/scss/globals/scss/styles.scss';

// ignored by patternfly, but sets the right base for carbon rem units
html {
  font-size: 100%;
}
