@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme' with (
  $theme: themes.$white,
);

@use '@carbon/react';

// Import Carbon Charts styles (use @import for .css files)
@import '~@carbon/charts/styles.css';

// ignored by patternfly, but sets the right base for carbon rem units
html {
  font-size: 100%;
}
