.utilization-trend-chart-pf {
  margin-bottom: 50px;

  .available-text {
    width: 50px;

    .available-text-total {
      padding-left: 5px;
    }
  }
}

.sparkline-chart {
  margin-top: 10px;
}

.empty-chart-content {
  height: 231px;
  padding-top: 20px;

  .pficon {
    font-size: 24px;
    margin-top: 48px;
  }
}

.chart-holder {
  .bx--cc--chart-wrapper {
    .layout-svg-wrapper {
      width: 90%;
      left: 5%;
      position: relative;
    }
    svg {
      overflow: visible !important;
    }
  }
}

.bx--cc--pie {
  overflow: visible !important;
}

.bx--cc--toolbar {
  .bx--overflow-menu-options {
    top: 10%;
  }
}

.spacer {
  margin-top: 10px;
  height: 0;
}

.bx--cc--legend {
  .legend-item {
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
