.checkbox-tree-wrapper {
  margin-bottom: 3%;

  .checkbox-tree-required-tag {
    color: #da1e28;
    display: inline-flex;
    margin-right: 0.5%;
  }

  .checkbox-tree-title {
    display: inline-flex;
  }  
}
