.row.dashboard {
  $carbon--theme: $carbon--theme--white;

  @include carbon--theme();

  .columns {
    padding: 10px;
    position: relative;
    min-height: 50px;

    widget-chart {
      .bx--cc--skeleton {
        margin-left: 25%;
        width: 50%;
        left: auto;
      }
    }

    div[id^="ww_"] {
      width: 100%;
      height: auto;
      min-height: 40px;
      display: inline-block;
      margin-bottom: 15px;
      border: 1px solid $selected-ui;

      .card-pf {
        display: flex;
        flex-direction: column;
        margin: 0;
        border: 0;

        div.bx--cc--legend {
          height: auto !important;
        }

        widget-footer {
          display: flex;
          overflow: hidden;
          margin-top: 10px;
          margin-left: -20px;
          width: calc(100% + 40px);

          .card-pf-footer {
            margin: 10px 0 0 0 !important;
            width: 100%;
            padding: 20px;
            border-top: 1px solid $selected-ui;
          }
        }
      }
    }
  }

  .miq_dashboard {
    thead,
    tbody {
      font-size: 0.75rem;

      tr td {
        word-break: break-all;
        text-align: left !important;
      }
    }

    &.clickable tbody tr {
      cursor: pointer;
    }
  }
}
