#code-section {
  .bx--form-item {
    margin-bottom: 15px;
  }
}

#dual-list-sub-form {
  .bx--row--condensed {
    svg {
      height: 48px;
    }
  }
}

.form-react {
  .bx--grid {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .bx--form-item {
    margin-bottom: 2rem;
  }

  .bx--btn-set {
    margin-bottom: 48px;
    .bx--btn--secondary {
      margin-left: 10px;
    }
  } 
}

.ddorg__carbon-sub-form {
  .bx--fieldset {
    display: inline-flex;
    .bx--checkbox-label-text {
      padding-left: 2px;
      padding-right: 20px;
    }
  }
}

#hoursWarning {
  color: #DA1E28;
  font-size: 14px;
}
