.ddorg__carbon-form-template-buttons {
  margin-bottom: 48px;
}

#code-section {
  .bx--form-item {
    margin-bottom: 15px;
  }
}

.ddorg__carbon-dual-list-toolbar {
  .ddorg__carbon-dual-list-tooltipbutton {
    svg {
      height: 48px;
    }
  }
}

.ddorg__carbon-form-template-form {
  .bx--grid {
  padding-left: 1rem;
  padding-right: 1rem;
  }
}

.ddorg__carbon-form-template-buttons {
  .bx--btn--secondary {
    margin-left: 10px;
  }
}

.ddorg__carbon-sub-form {
  .bx--fieldset {
    display: inline-flex;
    .bx--checkbox-label-text {
      padding-left: 2px;
      padding-right: 20px;
    }
  }
}

#hoursWarning {
  color: red;
}
