@use '@carbon/react/scss/themes' as *;
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/type' as *;

#main-menu {
  @include theme.theme($g90);

  @import './menu-colors.scss';

  *:focus {
    outline-color: $focus-outline;
  }

  list-style: none;

  ul ul {
    list-style: none;
    padding: 0;
  }

  .cds--side-nav__navigation.cds--side-nav.cds--side-nav--expanded.secondary {
    width: fit-content;
    max-width: 30rem;
    min-width: 16rem;
  }

  .cds--side-nav__navigation.primary {
    .cds--side-nav__header.menu-logo {
      display: flex;
      border-bottom: 1px solid $row-active-primary-bg;
    }
    .menu-search
      .cds--side-nav__items
      .cds--side-nav__item
      .miq-fieldset-content.menu-search-field-wrapper {
      margin-top: 0;
    }

    .menu-search.miq-search-menu-option-collapsed .cds--side-nav__items {
      padding: 0;
      .cds--side-nav__item.vertical-center {
        &:hover {
          background-color: $row-active-primary-bg;
        }
        padding: 0;
        .miq-fieldset {
          width: 100%;
          .miq-fieldset-content {
            margin: 0;
            display: flex;
            justify-content: center;
            .search_div {
              padding: 0;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }

    .cds--side-nav__items {
      .cds--side-nav__item {
        // TODO: c-11: Related issue - https://github.com/carbon-design-system/carbon/issues/18562
        cursor: pointer;
      }
      .cds--side-nav__link .cds--side-nav__link-text {
        display: flex;
        width: 100%;
      }
      .cds--side-nav__link.miq-main-menu-collapsed-nav-link {
        padding: 0;
        .cds--side-nav__link-text {
          display: flex;
          justify-content: center;
          .cds--side-nav__icon.cds--side-nav__icon--small {
            margin: 0;
            .cds--btn--icon-only:hover {
              background-color: inherit;
            }
          }
        }
      }
    }
  }

  // sizing
  .cds--side-nav.secondary {
    left: 16rem;

    .cds--side-nav__link-text {
      font-weight: 400;
    }

    // ensure secondary overflow auto has the right height to work with
    .cds--side-nav__items {
      height: 100vh;
    }
  }

  .cds--side-nav__header.padded,
  .cds--side-nav__item.padded {
    padding: 0 1rem;
  }

  .cds--side-nav__header,
  .cds--side-nav__link,
  .cds--side-nav__submenu,
  .menu-collapse,
  .menu-collapse-button {
    height: 48px;
  }

  .cds--side-nav__submenu:hover {
    background-color: #666666;
  }

  .cds--side-nav__hr {
    margin: 16px 0 0 0;
  }

  .cds--side-nav--expanded {
    .cds--side-nav__hr {
      margin: 16px 16px 0 16px;
    }
  }

  .menu-collapse {
    border-top: solid 1px #3d3d3d;

    ul.menu-collapse-list {
      padding-top: 0;
    }

    .menu-collapse-button {
      margin-left: auto;
      padding: 14px;
      width: 48px;
    }
  }

  // 
  .cds--side-nav__menu-item.miq-menu-search-result-item .cds--side-nav__link-text {
    display: flex;
    flex-direction: column;

    .menu-search-title {
      font-size: small;
      margin-bottom: 0;
      margin-top: 5px;
      font-weight: 600;
    }
    .menu-search-parent{
      font-size: smaller;
      margin-bottom: 5px;
    }
  }

  .menu-user,
  .menu-group li {
    @include type-style('helper-text-01');
  }

  .menu-user,
  .menu-user > li {
    height: 40px;
  }

  .menu-user.miq-menu-user-collapsed {
    height: 38px;
    .cds--side-nav__items {
      display: flex;
      padding: 0;
      height: 100%;
      .cds--side-nav__item {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .menu-group {
    height: 32px;

    .cds--list-box--expanded .cds--list-box__menu {
      position: fixed;
      width: 224px;
      margin-left: 16px;
      margin-top: 1px;
    }

    & .cds--dropdown,
    & > li {
      height: 32px;
    }

    & .cds--dropdown__wrapper {
      padding: 0 1rem;
    }
  }

  .menu-group.miq-menu-group-switcher-collapsed {
    margin-bottom: 0;
    .cds--side-nav__items {
      height: 100%;
      padding: 0;
      display: flex;
      .cds--side-nav__item {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .menu-search {
    height: 32px;
  }

  .collapse_icon {
    display: flex;
    align-items: center;
  }

  .cds--side-nav__item {
    .cds--popover-container {
      position: fixed;

      svg {
        fill: #f4f4f4;
      }

      .cds--popover-content {
        background-color: $menu-tooltip-border;
        color: $menu-tooltip-assistive-text-font-color;
      }
      // The caret uses ::after pseudo-element with border to create the arrow
      .cds--popover-caret::after {
        background-color: $menu-tooltip-border;
      }
    }
  }
}

.layout-pf.layout-pf-fixed {
  .miq-main-menu-collapsed {
    .container-pf-nav-pf-vertical {
      margin-left: 48px;
    }
  }

  .miq-main-menu-expanded {
    .container-pf-nav-pf-vertical {
      margin-left: 256px;
    }
  }
}

// only appears when secondary menu is expanded
.miq-main-menu-overlay {
  background-color: #000;
  bottom: 0;
  left: 10rem;
  opacity: 0.5;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.navbar-brand-name {
  height: 32px;
  // compensate for in-image padding
  margin: -4px 0 0 -8px;
}
