#main-menu {
  list-style: none;

  ul ul {
    list-style: none;
    padding: 0;
  }

  // colors
  .bx--side-nav {
    background-color: $ui-background;

    &.second {
      background-color: $ui-01;

      .bx--side-nav__item--active > .bx--side-nav__submenu,
      .bx--side-nav__link.bx--side-nav__link--current,
      .bx--side-nav__link:hover,
      .bx--side-nav__submenu[aria-expanded=false]:hover {
        background-color: $active-ui;
      }
    }
  }

  .bx--side-nav__link:hover,
  .bx--side-nav__link.bx--side-nav__link--current {
    background-color: $active-secondary;
  }

  .bx--side-nav__link-text,
  .bx--side-nav__submenu-title {
    color: $text-01;
  }

  .bx--side-nav__icon > svg,
  .menu-collapse-button > svg {
    fill: $icon-01;
  }
  .bx--side-nav__icon > i {
    color: $icon-01;
  }

  .bx--side-nav__hr {
    color: $text-03;
  }

  // sizing
  .bx--side-nav.second {
    left: 16rem;
    max-width: 14rem;
    width: 14rem;

    .bx--side-nav__link-text {
      font-weight: 400;
    }
  }

  .bx--side-nav__item.padded {
    padding: 0 1rem;
  }

  .bx--side-nav__header,
  .bx--side-nav__link,
  .bx--side-nav__submenu,
  .menu-collapse,
  .menu-collapse-button {
    height: 48px;
  }

  .bx--side-nav__hr {
    margin: 16px 0 0 0;
  }
  .bx--side-nav--expanded {
    .bx--side-nav__hr {
      margin: 16px 16px 0 16px;
    }
  }

  .menu-collapse {
    border-top: solid 1px #3d3d3d;

    .menu-collapse-button {
      margin-left: auto;
      padding: 14px;
      width: 48px;
    }
  }

  .menu-search-title {
    font-size: small;
  }
  .menu-search-parent {
    font-size: smaller;
    font-weight: 400;
  }
}

.layout-pf.layout-pf-fixed {
  .miq-main-menu-collapsed {
    .container-pf-nav-pf-vertical {
      margin-left: 48px;
    }
  }
  .miq-main-menu-expanded {
    .container-pf-nav-pf-vertical {
      margin-left: 256px;
    }
  }
}

// only appears when secondary menu is expanded
.miq-main-menu-overlay {
  background-color: #000;
  bottom: 0;
  left: 30rem;
  opacity: 0.5;
  position: fixed;
  right: 0;
  z-index: 10000;
}
