.custom-url-tabs {
  margin-bottom: 20px;
}

.miq_custom_tab_wrapper .bx--tab-content {
  display: none;
}

.miq_custom_tabs_container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tab_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    display: none;
  }

  .active {
    display: block;
  }
}

.miq-custom-tab-content-header {
  display: flex;
  flex-direction: row;

  .tab-content-header-title {
    display: flex;
    flex-grow: 1;
  }
  .tab-content-header-actions {
    display: flex;
  }
}
.miq-custom-tab-content-notification {
  display: flex;
  flex-grow: 1;

  .alert {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

#settings-tabs-wrapper {
  .bx--tab-content {
    display: none;
  }
}
