.miq-structured-list {
  border: 1px solid lightgray;
  margin-bottom: 2rem !important;

  .bx--structured-list-td {
    padding: 0.875rem !important;
  }

  .label_header {
    font-weight: bold;
  }
}
