.miq-data-table {
  margin-top: 20px;

  .bx--data-table-content {
    overflow-x: visible;
  }

  thead tr th {
    &.bx--table-column-checkbox {
      min-width: 45px;
    }

    .bx--table-header-label {
      line-height: 20px;
    }
  }

  tbody tr {
    &.clickable-row {
      cursor: pointer;
    }

    .cell {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &.truncate_cell {
        max-width: 250px;
      }

      .array_list {
        width: 100%;
        display: flex;
        flex-direction: column;

        .list_row {
          padding: 0.5rem 0;
        }
      }

      .image {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }

      .icon {
        min-width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
      }

      .icon.fa-ruby {
        color: #cc0000 !important;
      }

      span {
        min-height: 30px;
        display: flex;
        align-items: center;
      }

      button {
        padding: 0;
        margin: 5px 0;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0 8px;
          min-width: 100px;
        }
      }
    }

    td.no_text {
      width: 50px;
    }

    td .bx--front-line {
      width: 100%;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-top: 6px;
    }
  }
}

#iso_datastore_details_div {
  tbody tr {
    .cell {
      &.truncate_cell {
        max-width: 1000px;
      }
    }
  }
}

.chargeback-rate table tbody tr td {
  vertical-align: top !important;
}
