.tenant-quota-data-table {
  .miq-data-table {
    margin-bottom: 32px;
  }

  .bx--btn-set {
    margin-bottom: 48px;
  }

  .bx--data-table thead tr :first-child{
    padding-right: 2rem;
  }

  .bx--form-item {
    .bx--front-line, .bx--label, .bx--toggle-input {
      display: none;
    }

    .bx--toggle-input__label {
      margin-bottom: 0px;

      .bx--toggle__switch {
        margin-top: 0px;
      }
    }
  }
}

.timeline-data-table {
  margin-top: 70px;
  margin-bottom: 20px;
}

.miq-data-table {
  margin-top: 20px;

  .bx--data-table-content {
    overflow-x: visible;
  }

  thead tr th {
    &.bx--table-column-checkbox {
      min-width: 45px;
    }

    .bx--table-header-label {
      line-height: 20px;
      white-space: nowrap;
    }
  }

  tbody tr {
    &.clickable-row {
      cursor: pointer;
    }

    .cell {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &.truncate_cell {
        max-width: 250px;
      }

      .array_list {
        width: 100%;
        display: flex;
        flex-direction: column;

        .list_row {
          padding: 0.5rem 0;
        }
      }

      .image {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }

      .icon {
        min-width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
      }

      .icon.fa-ruby {
        color: #cc0000 !important;
      }

      span {
        display: flex;
        align-items: center;
      }

      button {
        padding: 0;
        margin: 5px 0;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0 8px;
          min-width: 100px;
        }
      }
    }

    td.no_text {
      width: 50px;
    }

    td .bx--front-line {
      width: 100%;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

#iso_datastore_details_div {
  tbody tr {
    .cell {
      &.truncate_cell {
        max-width: 1000px;
      }
    }
  }
}

.chargeback-rate table tbody tr td {
  vertical-align: top !important;
}

.time-profile-reports {
  padding-bottom: 20px;
}

.report-data-table {
  table tr td {
    padding: 0 !important;

    .cell {
      min-height: 47px;
      padding-left: 10px;
    }
  }
}

.prov-vm-grid-data-table {
  table {
    tr {
      td, th {
        font-size: 0.75rem;
      }
    }
  }
}

.requests-table {
  .miq-data-table {
    .bx--data-table--sticky-header thead, .bx--data-table--sticky-header tbody, .bx--data-table--sticky-header tr, .bx--data-table--sticky-header th, .bx--data-table--sticky-header td {
      display: revert;
    }

    .clickable-row {
      td:nth-child(3) {
        .bx--front-line {
          white-space: pre;
        }
      }
      td {
        vertical-align: inherit;
      }

      vertical-align: top;
    }

    thead tr th {  
      .bx--table-header-label {
        min-width: fit-content;
      }
    }
  }
}

.provision-instance-container {
  display: flex;
  flex-direction: column;

  .provision-instance-list {
    height: calc(100vh - 210px);
    overflow: auto;
  }
  .provision-instance-actions {

    #pre_prov_form_buttons_div {
      display: flex;
      justify-content: end;
    }
  }

}

table.miq_preview {
  tbody tr {
    td.group {
      background: lightgray;
      font-weight: bold;
      &:hover {
        background: lightgray;
      }
    }

    td.group_spacer {
      background: #FFF;
      &:hover {
        background: #FFF;
      }
    }
  }
}
