
.miq_custom_tabs_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -32px;

  .tab_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    display: none;
  }

  .active {
    display: block;
  }
}

.miq-custom-tab-content-header {
  display: flex;
  flex-direction: row;

  .tab-content-header-title {
    display: flex;
    flex-grow: 1;
  }
  .tab-content-header-actions {
    display: flex;
  }
}
