.rbac-group-form {
  .customer-tags-tab {
    &__filter-mode {
      margin-bottom: 1rem;
    }
  }

  .belongs-to-tab {
    &__actions {
      margin-bottom: 0.5rem;
    }

    &__node-icon {
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
    }
  }
}
