.miq-filter-provision-instance {
  display: flex;
  align-items: center;

  .checkbox_wrapper {
    padding-left: 0;
  }

  .search_bar_wrapper {
    padding-right: 0;
  }
}

.search_bar {
  display: flex;

  .bx--text-input {
    height: 48px;
  }

  form {
    width: 100%;
    display: flex;
  }

  .search_button {
    margin-right: 2px;
  }
}

.display-search-bar {
  width: 300px;
  position:absolute;
  right: 20px;
  top: -40px
}
