.attribute-value-field-row {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .attribute-value-row-count {
    min-width: 30px;
    align-items: center;
    display: flex;
    height: 48px;
  }
}

.bx--list-box__wrapper {
  margin-bottom: 2rem;
}

div:has(.bx--checkbox-wrapper){
  margin-bottom: 2rem;
}

.bx--form-item.bx--checkbox-wrapper{
  margin-bottom: 0.25rem !important;
}

.schedule_form {
  label[for="time_zone"]:before, label[for="target_class"]:before, label[for="target_id"]:before {
    content:"* ";
    color: red;
  }
}

.live_migrate_form {
  label[for="destination_host"]:before {
    content:"* ";
    color: red;
  }
}
