.tagging-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .tagging-row-wrapper {
    margin: 0;
    display: flex;
    gap: 20px;

    .tagging-form {
      display: flex;
    }

    .tagging-block-outer {
      border: 1px solid lightgray;
      display: flex;
      flex-direction: column;
      padding: 0;

      #assignments_div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
      }

      .tag-modifier-header {
        background: lightgray;
        margin: 0;
        padding: 5px 0;
        width: 100%;

        h3 {
          margin: 10px 0;
        }
      }

      .tag-modifier-form {
        padding: 15px;
        max-height: 400px;
        width: 100%;
        
        width: 100%;

        &.assigned-tags {
          overflow-y: auto;

          .alert {
            width: 100%;
          }
        }

        fieldset {
          margin: 5px 0;

          legend {
            font-size: 14px;
          }

          .tag-modifier-form-row {
            padding: 0;
          }
        }
      }
    }

    &.tagging-toolbar {
      .btn-toolbar {
        width: 100%;

        .bx--btn-set {
          margin-right: 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }
}
