.react-tree-view {
  ul {
    padding-left: 0;
  }

  .dirty {
    color: #39a5dc;
  }

  .selected {
    background-color: #349ad3;
    color: #ffffff;
  }
}

.bx--cc--tooltip .content-box {
  .label {
    color: #171717;
    font-weight: 400;
  }
}
