.widget-wrapper {
  padding-right: 10px;
  padding-left: 10px;
}

.miq-widget-remove-modal {
  .cds--modal-content {
    margin-bottom: 0;
  }
}
.card-pf-heading-kebab {
  .card-pf-title {
    cursor: move;
    display: block;
  }

  .cds--overflow-menu__wrapper {
    float: right;
    margin-top: -10px;
  }
}

.card-pf {
  .loadingSpinner {
    padding-bottom: 2rem;
  }
}

.empty-widget {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 20px;
}

.error-widget {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 20px;
}

#lightbox_div #zoomed_chart_div .card-pf-heading .cds--popover-container {
  float: right;
  margin-top: -20px;
}
