= render :partial => 'configuration_manager/shared_form'

:javascript
  ManageIQ.angular.app.value('configurationManagerFormId', '#{@provider_manager.id || "new"}');
  ManageIQ.angular.app.value('url', '/configuration_manager');
  ManageIQ.angular.app.value('modelName', 'providerForemanModel');
  miq_bootstrap('#form_div');
