= render :partial => "layouts/flash_msg"
.row
  .col-md-12.col-lg-6
    = react 'GenericGroupWrapper', expand_generic_group(TextualGroup.new(_('Properties'), textual_inventory_group_properties), @record)
