- if %w(configuration_profiles).include?(@display)
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- elsif @showtype == "main"
  = render :partial => "layouts/textual_groups_generic"
