/ begin: app/views/shared/views/ems_common/_config.html.haml
.maincontent
  = render :partial => "layouts/flash_msg"
  - if @display == "ems_folders"
    = render :partial => "layouts/dc_tree_page"
/ end: app/views/shared/views/ems_common/_config.html.haml
