-#
  Parameters:
    widget -- MiqWidget object
.mc{:id => "dd_w#{widget.id}_box",
:style => @sb[:dashboards][@sb[:active_db]][:minimized].include?(widget.id) ? 'display: none;' : ''}
- if widget.contents_for_user(current_user).contents.blank?
  .blank-slate-pf{:style => "padding: 10px"}
    .blank-slate-pf-icon
      %i.fa.fa-cog
      %h1= _('No report data found.')
- else
  = widget.contents_for_user(current_user).contents.html_safe
