-#
  Parameters:
    widget -- MiqWidget object
- last_run, next_run = last_next_run(widget)
#zoomed_chart_div
  .card-pf
    .card-pf-heading
      %h2.card-pf-title
        = h(widget.title)
        %a{:title => _("Close"), :href => "#",
            :onclick => "miqSparkle(false);$('#lightbox-panel').fadeOut(300);"}
          %i.fa.fa-close.pull-right
    .card-pf-body
      - chart_data = render_chart
      = react('DashboardWidget',:data => chart_data, :id => "1")
    %widget-footer{:id => "zoomed_chart_footer_#{widget.id}", 'widget-last-run' => last_run, 'widget-next-run' => next_run}
:javascript
  miq_bootstrap("#zoomed_chart_footer_#{widget.id}");
