%html.login-pf{:class => ::Settings.server.custom_login_logo ? '' : 'rcue-login', :lang => I18n.locale.to_s.sub('-', '_')}
  %head
    = miq_favicon_link_tag
    = stylesheet_link_tag '/custom.css'
    = javascript_dependencies(false)

  %body
    - if validation_url
      :javascript
        miqFlashClearSaved();
        window.location = '#{j validation_url}';
    - else
      :javascript
        miqFlashClearSaved();
        window.location = '/dashboard/logout';
