#main_div
      %security-group-form-component{'security-group-form-id' => @security_group.id }
:javascript
      ManageIQ.angular.app.value('emsChoices', #{@ems_choices.sort.to_json});
      miq_bootstrap('security-group-form-component')
