%security-group-form

:javascript
  ManageIQ.angular.app.value('securityGroupFormId', '#{@security_group.id || "new"}');
  ManageIQ.angular.app.value('networkProviderChoices', #{@ems_choices.sort.to_json});
  miq_bootstrap('security-group-form')
