%miq-data-table.no-action{"settings"         => "mwjdr.settings",
                          "rows"             => "mwjdr.rows",
                          "columns"          => "mwjdr.cols",
                          "per-page"         => "mwjdr.perPage",
                          "on-sort"          => "mwjdr.onSort(headerId, isAscending)",
                          "load-more-items"  => "mwjdr.onLoadNext(start, perPage)",
                          "on-item-selected" => "mwjdr.onItemSelect(item, isSelected)"}
