%div
    .form-group
        %label.col-md-2.control-label{"for" => "ems_name"}
            = _('Name')
        .col-md-8
            %input.form-control{"type"        => "text",
                                "id"          => "ems_name",
                                "name"        => "name",
                                "ng-model"    => "providerName",
                                "ng-change"   => "newProv.onNameChanged(providerName)",
                                "ng-value"    => "newProv.newProviderName",
                                "auto-focus"  => ""}