= render :partial => "layouts/flash_msg"
- if @dialog_locals
  - api_submit_endpoint ||= @dialog_locals[:api_submit_endpoint]
  - api_action ||= @dialog_locals[:api_action]
  - finish_submit_endpoint ||= @dialog_locals[:finish_submit_endpoint]
  - cancel_endpoint ||= @dialog_locals[:cancel_endpoint]
  - target_id ||= @dialog_locals[:target_id]
  - target_type ||= @dialog_locals[:target_type]
  - real_target_type ||= @dialog_locals[:real_target_type]
  - dialog_id ||= @dialog_locals[:dialog_id]
  - resource_action_id ||= @dialog_locals[:resource_action_id]
  - open_url ||= @dialog_locals[:open_url]


= render :partial => "shared/dialogs/dialog_user",
  :locals => {:dialog_id              => dialog_id,
              :resource_action_id     => resource_action_id,
              :target_id              => target_id,
              :target_type            => target_type,
              :real_target_type       => real_target_type,
              :finish_submit_endpoint => finish_submit_endpoint,
              :api_submit_endpoint    => api_submit_endpoint,
              :api_action             => api_action,
              :cancel_endpoint        => cancel_endpoint,
              :open_url               => open_url}
