/ begin: app/views/miq_ae_tools/_resolve.html.haml
- content_for :left do
  = render :partial => "resolve_form"
  = render :partial => "resolve_form_buttons"

#main_div
  = render :partial => "results_tabs"
/ end: app/views/miq_ae_tools/_resolve.html.haml
