/ begin: app/views/miq_ae_tools/review_import.html.haml
:javascript
  var postMessageData = {
    import_file_upload_id: '#{j(@import_file_upload_id)}',
    message: '#{j(@message)}'
  };

  $(function() {
    parent.postMessage(postMessageData, '*');
  });
/ end: app/views/miq_ae_tools/review_import.html.haml
