-# These are the initial divs that will go inside center_cell_div
#main_div
  - case x_active_tree
  - when :firmware_registry_tree
    = render :partial => "firmware_registry_list"

-# To include MyCodeMirror JS and CSS files
= render(:partial => "/layouts/my_code_mirror",
  :locals => {:text_area_id => "miq_none",
    :mode => "xml",
    :modes => %w(shell xml)})
