#main_div
  - if %w(guest_devices).include?(@display)
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
  - else
    - case @showtype
    - when "main"
      = render :partial => 'layouts/textual_groups_generic'
