/ begin: app/views/shared/topology/_not_found.html.haml
.floating-not-found{'ng-show' => 'searching && notFound'}
  = _("No results match the search criteria")
  %br
  %a.btn.btn-link{:href => "", 'ng-click' => "resetSearch()"}
    = _("Clear Search")
/ end: app/views/shared/topology/_not_found.html.haml
