.floating-not-found{'ng-show' => 'vm.searching && vm.notFound'}
  = _("No results match the search criteria")
  %br
  %a.btn.btn-link{:href => "", 'ng-click' => "vm.resetSearch()"}
    = _("Clear Search")
