// only used by jest; webpack loads .babelrc.json
{
  "env": {
    "test": {
      "presets": [
        "react"
      ],
      "plugins": ["transform-es2015-modules-commonjs", "babel-plugin-transform-class-properties"]
    }
  }
}
