.bundle/
.yardoc
package-lock.json
Gemfile.lock
Gemfile.dev.rb
_yardoc/
coverage/
doc/
pkg/
spec/manageiq
spec/reports/
tmp/
.rubocop-*
.idea/
.vscode/
.ruby-version
config/webpack/paths.json
*.sw[po]
cypress/screenshots
cypress/videos
.DS_Store

/node_modules/
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
