# To use gron for human readable json differences:
#   1) brew/apt install gron
#   2) Add this to ~/.gitconfig:
#     [diff "gron"]
#          textconv=gron
# Now, git log -p, show, and friends will use gron for json differences.
app/javascript/oldjs/locale/*.json diff=gron
