= render :partial => "layouts/flash_msg"
.col-md-12
  = react 'AttachDetachCloudVolumeForm', :recordId => @volume.id.to_s, :isAttach => false, :vmChoices => @vm_choices.sort, :deviceMountpointRequired => false
