/* .directory {
  background: #242322;
  font-family: monospace;
  font-size: 16px;
  color: white;
  user-select: none;
  padding: 20px;
  border-radius: 0.4em;
}

.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory .tree-branch-wrapper,
.directory .tree-node__leaf {
  outline: none;
  outline: none;
}

.directory .tree-node {
  cursor: pointer;
}

.directory .tree-node:hover {
  background: rgba(255, 255, 255, 0.1);
}

.directory .tree .tree-node--focused {
  background: rgba(255, 255, 255, 0.2);
}

.directory .tree .tree-node--selected {
  background: rgba(48, 107, 176);
}

.directory .tree-node__branch {
  display: block;
}

.directory .icon {
  vertical-align: middle;
  padding-right: 5px;
} */
 
.iconDiv {
  display: inline-flex;
  margin-top: 5px;
  margin-right: 5px;
}

.loadingDiv {
  display: inline-flex;
  margin-right: 1rem;
}

.automate_entry_points {
  font-size: 16px;
  user-select: none;
  min-height: 320px;
  padding: 20px;
  box-sizing: content-box;
}

.automate_entry_points .tree,
.automate_entry_points .tree-node,
.automate_entry_points .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.automate_entry_points .tree-branch-wrapper,
.automate_entry_points .tree-node__leaf {
  outline: none;
}

.automate_entry_points .tree-node {
  cursor: pointer;
}

.automate_entry_points .tree-node .name:hover {
  background: rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.automate_entry_points .tree-node--focused .name {
  background: rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.automate_entry_points .tree-node {
  display: inline-block;
}

.automate_entry_points .checkbox-icon {
  margin: 0 5px;
  vertical-align: middle;
}

.automate_entry_points button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.automate_entry_points .arrow {
  margin-left: 5px;
  vertical-align: middle;
}

.automate_entry_points .arrow--open {
  transform: rotate(270deg);
}