- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox")
  = render(:partial => 'layouts/quick_search')

-# Showing a list of hosts
#main_div
  = render(:partial => 'layouts/gtl')
-# Show Search box
:javascript
  #{javascript_show_if_exists("adv_searchbox_div")}
