- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => true})

#main_div
  - case @nodetype
  - when "root"
    = render :partial => "condition_folders"
  - when "xx"
    = render :partial => "condition_list"
  - when "co"
    = render :partial => "condition_details", :locals => {:read_only => true}
