/ begin: app/views/miq_policy/_action_list.html.haml
#action_list_div
  #main_div
    = render :partial => 'layouts/gtl', :locals  => {:action_url => "action_get_all", :button_div => 'policy_bar'}
/ end: app/views/miq_policy/_action_list.html.haml
