/ begin: app/views/miq_policy/_alert_list.html.haml
#alert_list_div
  #main_div
    = render :partial => 'layouts/gtl', :locals  => {:action_url => "alert_get_all", :button_div => 'policy_bar'}
/ end: app/views/miq_policy/_alert_list.html.haml
