/ begin: app/views/miq_policy/_policy_list.html.haml
#policy_list_div
  #main_div
    = render :partial => 'layouts/gtl', :locals => {:action_url => "policy_get_all", :button_div => 'policy_bar'}
/ end: app/views/miq_policy/_policy_list.html.haml
