- if ["host_initiator_group", "cloud_volumes"].include?(@display)
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- elsif @showtype == "item"
  = render :partial => "layouts/item"
- else
  = render :partial => "layouts/textual_groups_generic"

