#form_div
  #basic_info_div
  = render :partial => "layouts/flash_msg"
  = stack_orchestration_template_basic_info(@record.orchestration_template)
  - if @record.orchestration_template.content
    = template_content(@record.orchestration_template.content)
