#main_div
  - if %w(physical_switches).include?(@display)
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
  - else
    - case @showtype
    - when "main"
      = render :partial => 'layouts/textual_groups_generic'
    - when "timeline"
      = render :partial => "layouts/tl_show_async"

  %physical-switch-toolbar#physical_switch_show_form{'physical_switch-id' => @record.id}

:javascript
  miq_bootstrap('#physical_switch_show_form');
