- if x_active_tree == :settings_tree
  #ap_form_div
    = render :partial => "layouts/flash_msg"
    = react('ApForm',
            {'scanId'       => @scan.id || 'new',
             'scanMode'     => @scan.mode || 'Vm',
             'copy'         => @copy_source_id.present?,
             'copySourceId' => @copy_source_id})
