/ begin: app/views/ops/_aps_list.html.haml
- if @sb[:active_tab] == "settings_list" && x_node == "xx-sis"
  = render(:partial => 'layouts/x_gtl', :locals => {:action_url => "aps_list"})
/ end: app/views/ops/_aps_list.html.haml
