= render :partial => "layouts/textual_groups_raw",
         :locals => {:textual_group_list => [%i(vmdb_connection_properties vmdb_connection_capacity_data), %i(vmdb_tables_most_rows vmdb_tables_largest_size vmdb_tables_most_wasted_space)]}
