- groups = [%i(vmdb_connection_properties vmdb_connection_capacity_data), %i(vmdb_tables_most_rows vmdb_tables_largest_size vmdb_tables_most_wasted_space)]
#textual_summary

:javascript
  var summary_props = {
    summary: #{process_textual_info(groups, @record).to_json},
    onClick: function(item, event) {
      event.preventDefault();
      if (!item.link) return;
      miqTreeActivateNode('vmdb_tree', item.link);
    }
  };
  ManageIQ.component.componentFactory('TextualSummaryWrapper', '#textual_summary', summary_props);
