#main_div
  - if role_allows?(:feature => "ops_settings") || role_allows?(:feature => "ops_rbac", :any => true) || role_allows?(:feature => "ops_diagnostics") || role_allows?(:feature => "ops_db")
    #tab_all_tabs_div= render :partial => "all_tabs"
