/ begin: app/views/ops/_diagnostics_server_list_tab.html.haml
- if @sb[:active_tab] == "diagnostics_server_list"
  = render :partial => 'layouts/x_gtl', :locals => {:action_url => "diagnostics_server_list"}
/ end: app/views/ops/_diagnostics_server_list_tab.html.haml
