%diagnostics-database-form-component
:javascript
   ManageIQ.angular.app.value('diagnosticsDatabaseId', '#{@id}');
   ManageIQ.angular.app.value('sb', #{@sb[:active_tab].to_json});
   ManageIQ.angular.app.value('database_display_name', '#{@database_display_name}');
   ManageIQ.angular.app.value('database_details', #{@database_details.to_json});

   miq_bootstrap('diagnostics-database-form-component')

