/ begin: app/views/ops/_ldap_regions_list.html.haml
- if @sb[:active_tab] == "settings_list" && x_node == "xx-l"
  #main_div
    = render :partial => 'layouts/x_gtl', :locals => {:action_url => "ldap_regions_list"}
/ end: app/views/ops/_ldap_regions_list.html.haml
