%log-collection-form-component{'server-id' => @record.id || "new",
                               'select-options' => [_("")] + @supported_depots_for_select,
                               'data-log-collection-form-fields-url' => "/#{controller_name}/log_collection_form_fields/",
                               'log-collection-form-fields-url' => "/#{controller_name}/log_collection_form_fields/",
                               'data-save-url'                       => "/#{controller_name}/log_depot_edit/",
                               'data-log-protocol-changed-url'       => "/#{controller_name}/log_protocol_changed/"}

:javascript
miq_bootstrap('log-collection-form-component');
