
%log-collection-form-component{'server-id' => "new",
                                'select-options' => [[_("<No Depot>")]] + @supported_depots_for_select}

:javascript
  miq_bootstrap('log-collection-form-component');
