%log-collection-form{'record-id'                      => @record.id || "new",
                     'select-options'                 => (@supported_depots_for_select).to_json,
                     'log-collection-form-fields-url' => "/#{controller_name}/log_collection_form_fields/",
                     'save-url'                       => "/#{controller_name}/log_depot_edit/",
                     'log-protocol-changed-url'       => "/#{controller_name}/log_protocol_changed/",
                     'message'                        =>  _("Editing Log Depot Settings for %{class}: %{display}") % {:class  => Dictionary.gettext(@record.class.name,
                                                                                                                                                    :type     => :model,
                                                                                                                                                    :notfound => :titleize),
                                                                                                                      :display => @record.display_name}}
:javascript
  miq_bootstrap('log-collection-form');
