= render :partial => "layouts/flash_msg"
- role_restrictions = MiqUserRole::RESTRICTIONS.map do |label, model|
  - [_(label), model]
- role_restrictions = role_restrictions.sort
- select_options =  [["-1", "<#{_('None')}>"]] + role_restrictions
- if @edit
  - get_url = url_for_only_path(:action => 'rbac_role_edit_get')
  - url = url_for_only_path(:action => 'rbac_role_add_react', :id => (@edit[:role_id] || "new"))
  - custom_props = rbac_role_product_features(@role, @rbac_menu_tree)
  = react('RbacRoleForm', 
    :selectOptions => select_options,
    :url           => url,
    :getURL        => get_url,
    :customProps   => custom_props,
    :role          => @role,
    :rbacMenuTree  => @rbac_menu_tree)
- else
  = role_rbac_details(@role, @rbac_menu_tree)
