= react 'RbacModule', { :mountLocation => "/preview/#{@record[:id]}"}

:javascript
  $(document).ready(function() {
    sendDataWithRx({
      type: 'init-react-routing',
      reactRouting: true,
    })
  });
