- if @sb[:active_tab] == "settings_details"
  - if super_admin_user?
    - region = MiqRegion.my_region
    - if @edit
      = react('RegionForm', :maxDescLen => ViewHelper::MAX_LEN_SMALL_TEXT_FIELD, :id => region.id.to_s)
    .spacer

    %table.table.table-striped.table-bordered.table-hover
      %tbody
        = react('SettingsDetailsTab', 
          :region       => region,
          :scanItemsCount    => @scan_items.size,
          :zonesCount        => @zones.size,
          :miqSchedulesCount => @miq_schedules.size)
       