- @hide_bottom_bar = true
- url = "/ops/cu_collection_update"
- get_url = "/ops/cu_collection_fetch"
= react('SettingsCUCollectionTab', 
  :url           => url,
  :fetchURL        => get_url,
  :clusterTree   => @cluster_tree,
  :datastoreTree => @datastore_tree,
  :allClusters   => Metric::Targets.perf_capture_always[:host_and_cluster],
  :allDatastores => Metric::Targets.perf_capture_always[:storage],
)