- if @sb[:active_tab] == "settings_advanced"
  #form_div
    .alert.alert-warning
      %span.pficon.pficon-warning-triangle-o
      %strong
        = advanced_tab_warning
    .alert.alert-info
      %span.pficon.pficon-info
      %strong
        = advanced_tab_info
  = react 'AdvancedSettingsForm', :url => api_resource_path(@record + '/settings')
