= react('MiqCustomTab', {:containerId => 'settings-tags-tabs',
                         :tabLabels => settings_tags_tab_labels,
                        :type => 'SETTINGS_TABS'})
= render :partial => 'settings_tags_content'
