- initial_values = []
- dropdown_values = []
- Menu::DefaultMenu.help_menu_items.each do |item|
  - val = @edit && @edit[:new][item.id.to_sym].try(:[], :type) || item.defaults[:type]
  - title = @edit && @edit[:new][item.id.to_sym].try(:[], :title) || item.defaults[:title]
  - href = @edit && @edit[:new][item.id.to_sym].try(:[], :href) || item.defaults[:href]
  - initial_values << {title: title, href: href, type: val}
  - dropdown_values << val

= react('SettingsHelpMenuTab', 
  :initialValues  => initial_values,
  :initialDropdownValues => dropdown_values)
