/ begin: app/views/ops/_settings_smartproxy_affinity_tab.html.haml
- if @sb[:active_tab] == "settings_smartproxy_affinity"
  = render :partial => "layouts/flash_msg"
  = render :partial => "smartproxy_affinity"
/ end: app/views/ops/_settings_smartproxy_affinity_tab.html.haml
