- if @sb[:active_tab] == "settings_tags" && @sb[:active_subtab] == "settings_my_company_categories"
  = react('SettingsCompanyCategories', {:initialData => settings_company_categories_list(@categories)})
