- if @sb[:active_tab] == "settings_advanced"
  - if selected?(x_node, "svr")
    :ruby
      resource_type = 'server'
      resource_id   = @sb[:selected_server_id]
  - elsif selected?(x_node, "z")
    :ruby
      resource_type = 'zone'
      resource_id   = x_node.split('-').last
  - else
    :ruby
      resource_type = 'region'
      resource_id   = MiqRegion.my_region.id
  = react('SettingsAdvancedTab',
          :resourceType => resource_type,
          :resourceId   => resource_id,
          :warningText  => advanced_tab_warning,
          :infoText     => advanced_tab_info)
