- @angular_form = true

= render :partial => "layouts/flash_msg"

%tenant-component{:id            => @tenant.id,
                  :parent        => @tenant_parent,
                  :divisible     => params[:tenant_type] == "tenant",
                  "redirect-url" => "/#{controller_name}/explorer",}

:javascript
  miq_bootstrap('tenant-component');
