- @angular_form = true

%form.form-horizontal#form_div{"name"       => "angularForm",
                               "model-copy" => "vm.modelCopy",
                               "model"      => "vm.tenantModel",
                               "miq-form"   => true,
                               }
  = render :partial => "layouts/flash_msg"
  %tenant-component{:id            => @tenant.id,
                    :parent        => @tenant_parent,
                    'angular-form' => "angularForm"}

:javascript
  miq_bootstrap('#form_div');
