- url = url_for_only_path(:action => 'zone_field_changed', :id => (@zone.id || "new"))
- unless @editing
  = render :partial => "layouts/flash_msg"
  = react "ZoneForm"
- else
  = react "ZoneForm", :recordId => @zone.id.to_s
