= render :partial => "detail_page"

%script{:type => "text/javascript"}
  -# Create from/to date JS vars to limit calendar starting from
  ManageIQ.calendar.calDateFrom = miqCalendarDateConversion("#{@timezone_offset}");
  ManageIQ.calendar.calDateTo = null

  function miqOpsAfterOnload() {
  - if @sb[:active_tab] == "db_utilization"
    miqAsyncAjax('#{url_for_only_path(:action => @ajax_action, :id => @record)}');
  };
  ManageIQ.afterOnload = {action: () => miqOpsAfterOnload()}

