#main_div
  - if role_allows?(:feature => "ops_settings") || role_allows?(:feature => "ops_rbac", :any => true) || role_allows?(:feature => "ops_diagnostics") || role_allows?(:feature => "ops_db")
    #tab_all_tabs_div= render :partial => "all_tabs"

%script{:type => "text/javascript"}
  -# Create from/to date JS vars to limit calendar starting from
  ManageIQ.calendar.calDateFrom = miqCalendarDateConversion("#{@timezone_offset}");
  ManageIQ.calendar.calDateTo = null

  function miqOpsAfterOnload() {
  - if @sb[:active_tab] == "db_utilization"
    miqAsyncAjax('#{url_for_only_path(:action => @ajax_action, :id => @record)}');
  };
  ManageIQ.afterOnload = "miqOpsAfterOnload();"

