/ begin: app/views/container_template/show.html.haml
- if @display == 'containers'
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- elsif @showtype == 'main'
  = render :partial => "layouts/textual_groups_generic"
  = render :partial => "layouts/container_template_note"
/ end: app/views/container_template/show.html.haml
