#main_div
  - s = @miq_request.source
  - st = s.service_template
  - ra = st.resource_actions.find_by_action('Reconfigure') if st
  - if ra && ra.dialog
    - values = @miq_request.options[:dialog]
    - opts = {:reconfigure => true}
    - wf = ResourceActionWorkflow.new(values, current_user, ra, opts)
    %h3
      = _("Dialog Options")
    = request_dialog_options(wf)
