#main_div
  - st = @miq_request.source
  - ra = st.resource_actions.find_by_action('Provision') if st
  - if ra && ra.dialog
    - values = @miq_request.options[:dialog]
    - opts = {:display_view_only => true}
    - wf = ResourceActionWorkflow.new(values, current_user, ra, opts)
    %fieldset
      %h3
        = _("Dialog Options")
      .row
        .col-md-12.col-lg-12
          #dialog_tabs
            - catalog_tab_labels = st_prov_show_tab_configuration(wf)            
            = react('MiqCustomTab', {:containerId => 'st-prov-show-tabs-content',
                          :tabLabels => catalog_tab_labels,
                          :type => 'CATALOG_SUMMARY'})
            #st-prov-show-tabs-content.miq_custom_tabs_container
              - wf.dialog.dialog_tabs.each_with_index do |tab, tab_index|
                = st_prov_show_tab_content(tab.id, tab_index) do
                  = st_prov_show_tab_info(tab, wf)
