#main_div
  - st = @miq_request.source
  - ra = st.resource_actions.find_by_action('Provision') if st
  - if ra && ra.dialog
    - values = @miq_request.options[:dialog]
    - opts = {:display_view_only => true}
    %h3
      = _("Dialog Options")
    - wf = ResourceActionWorkflow.new(values, current_user, ra, opts)
    = request_dialog_options(wf)
