/ begin: app/views/miq_request/show_list.html.haml
#main_div
  = render :partial => 'prov_options'
  = render :partial => 'layouts/gtl', :locals => {:no_flash_div => true}
/ end: app/views/miq_request/show_list.html.haml
