ul.tag-category.list-inline {
  display: inline-block;
  background-color: #00659c;
  padding: 5px 5px 5px 5px !important;
  color: white !important;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  li a span {
    color: white !important;
  }
}
