/ begin: app/views/vm_common/_add_security_group.html.haml
- @angular_form = true

= render :partial => "layouts/flash_msg"

%vm-cloud-add-security-group-component{"record-id"    => @record.id,
                                       "redirect-url" => "/#{controller_name}/explorer",}

:javascript
  miq_bootstrap('vm-cloud-add-security-group-component');
/ end: app/views/vm_common/_add_security_group.html.haml
