= react 'AttachDetachCloudVolumeForm',  :recordId => @vm.id.to_s,
                                        :isAttach => true,
                                        :dropdownChoices => @volume_choices.sort,
                                        :dropdownLabel => "Volume" ## Label will be translated in schema
