
%vm-cloud-evacuate-form
:javascript
ManageIQ.angular.app.value('repositoryId', '#{@id}');
miq_bootstrap('vm-cloud-evacuate-form')

:javascript
  ManageIQ.angular.app.value('vmCloudEvacuateFormId', "#{@evacuate_items.length == 1 ? @evacuate_items[0].id : ''}");
  miq_bootstrap('vm-cloud-evacuate-form');
