#tab_div
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Servers')
  .col-md-12
    = react('VmServerRelationshipForm', :recordId => @edit[:vm_id].to_s, :redirect => url_for(:action => :show, :id => @record.id))
