
%vm_cloud-live-migrate-form
:javascript
ManageIQ.angular.app.value('repositoryId', '#{@id}');
miq_bootstrap('vm_cloud_live_migrate_form')

:javascript
ManageIQ.angular.app.value('vmCloudLiveMigrateFormId', "#{@live_migrate_items.length == 1 ? @live_migrate_items[0].id : ''}");
miq_bootstrap('vm_cloud-live-migrate-form');
