- @angular_form = true
= render :partial => "layouts/flash_msg"
= react('ReconfigureVmForm', reconfigure_form_data)

%h3= _('Affected VMs')
- if @reconfigitems
  - @edit ||={}
  - @edit[:object_ids] = @reconfigitems.collect(&:id)
  - @embedded = true
  = render :partial => "layouts/gtl", :locals => {:no_flash_div => false}
