- @angular_form = true

= render :partial => "layouts/flash_msg"

%vm-cloud-remove-security-group-component{"record-id" => @record.id,}

:javascript
  miq_bootstrap('vm-cloud-remove-security-group-component');
