- @angular_form = true

= render :partial => "layouts/flash_msg"

%vm-cloud-remove-security-group{"record-id"    => @record.id,
                                "redirect-url" => "/#{controller_name}/explorer",}

:javascript
  miq_bootstrap('vm-cloud-remove-security-group');
