- if session[:snap_selected].nil? && @record.snapshots.count > 0
  - selected_id = @record.snapshots.first
- else
  - unless session[:snap_selected].nil?
    - selected_id = Snapshot.find(session[:snap_selected])

- time = format_timezone(selected_id[:create_time].to_time, Time.zone, "view")
- if selected_id[:total_size] == nil || selected_id[:total_size] == 0
  - size = ''
- else
  = number_to_human_size(selected_id[:total_size], :precision => 2)
  - size = _("%{number} bytes") % {:number => number_with_delimiter(selected_id[:total_size], :delimiter => ",", :separator => ".")}

= react('VmSnapshotTreeSelect', {tree: @snapshot_tree, selected: selected_id, size: size, time: time})
