#vm_tree_div
  = render :partial => "layouts/flash_msg"
  %input#masterToggle{:type => "checkbox", :name => "masterToggle", :onchange => "miqCheckAll(this, 'genealogy_tree');"}
  = _("(Check All)")
  %p
  = render(:partial => "shared/tree", :locals => {:tree => @genealogy_tree, :name => @genealogy_tree.name})
