#vm_tree_div
  = render :partial => "layouts/flash_msg"
  %input#ds_toggle{:name    => "ds_toggle",
                   :onclick => "miqCheckAll(this,'#{@genealogy_tree.name}');",
                   :type    => "checkbox"}/
  = _("(Check All)")
  %p
  = render(:partial => "shared/tree",
           :locals  => {:tree => @genealogy_tree, :name => @genealogy_tree.name})
