- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => true})

#main_div
  - case @nodetype
  - when "root"
    = render :partial => "event_list"
  - when "ev"
    = render :partial => "event_details", :locals => {:read_only => true}
