#tl_div
  - if @sb[:report] && @sb[:report].table && @sb[:report].table.data.blank?
  - elsif @sb[:report]
    #chart_placeholder{:style => 'position: relative'}
    = render(:partial => "layouts/timeline",
             :locals  => {:tl_json       => @tl_json,
                          :position_time => session[:tl_position]})
    - if @sb[:report].filter_summary
      = @sb[:report].filter_summary
  - elsif @sb[:tl_options] && @sb[:tl_options][:sdate].nil? && @sb[:tl_options][:edate].nil?
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No events available for this timeline.")}
  - else
    - unless x_node == ""
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Timeline data available.")}
