#main_div
  - if @table[1].empty?
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
  - else
    = react('DataDrivenTable', {:columns => @table[0], :rows => @table[1], :transform => 'miqOptimizationTransform'})
