/ begin: app/views/static/pf_charts/empty-chart.html.haml
%div{:class => "empty-chart-content", "ng-style" => "$ctrl.sizeStyles"}
  %span{:class => "pficon pficon-info"}
  %span
    = _("No data available")
/ end: app/views/static/pf_charts/empty-chart.html.haml
