.utilization-trend-chart-pf{'ng-class' => "{'data-unavailable-pf': $ctrl.chartData.dataAvailable === false}"}
  %h3
    {{$ctrl.config.title}}
  .current-values

  .donut-chart-pf
    %pf-pie-chart{'ng-if' => "$ctrl.chartData.dataAvailable !== false",
                  'config' => "$ctrl.pieConfig",
                  'data' => "$ctrl.chartData"}
    %pf-empty-chart{'ng-if' => "$ctrl.chartData.dataAvailable === false", 'chart-height' => "231"}

  %span{:class => "pull-left legend-text"}
    {{$ctrl.legendLeftText}}
  %span{:class => "pull-right legend-text"}
    {{$ctrl.legendRightText}}
