%ng-switch{'on' => "$ctrl.config.layout", 'ng-class' => "{'data-unavailable-pf': $ctrl.chartData.dataAvailable === false}"}
  %div{:class => 'ng-switch-default', 'ng-class' => "{'trend-card-large-pf': $ctrl.showLargeCardLayout,'trend-card-small-pf': $ctrl.showSmallCardLayout}"}

    %span{:class => "trend-header-pf", 'ng-if' => "$ctrl.config.title"}
      {{$ctrl.config.title}}

    %span{'ng-if' => "$ctrl.showActualValue"}
      %span{:class => "trend-title-big-pf"}
        {{$ctrl.getLatestValue()}}
      %span{:class => "trend-title-small-pf"}
        {{$ctrl.config.units}}

    %span{'ng-if' => "$ctrl.showPercentageValue"}
      %span{:class => "trend-title-big-pf"}
        {{$ctrl.getPercentageValue() + '%'}}
      %span{:class => "trend-title-small-pf"}
        of {{$ctrl.chartData.total + ' ' + $ctrl.config.units}}

    %pf-sparkline-chart{'ng-if' => "$ctrl.chartData.dataAvailable !== false", 'config' => "$ctrl.config", 'chart-data' => "$ctrl.chartData", 'chart-height' => "$ctrl.getChartHeight()",
      'show-x-axis' => "$ctrl.showXAxis", 'show-y-axis' => "$ctrl.showYAxis"}
    %empty-chart{'ng-if' => "$ctrl.chartData.dataAvailable === false", 'chart-height' => "$ctrl.getChartHeight()"}
    %span{:class => "trend-footer-pf", 'ng-if' => "$ctrl.config.timeFrame"}
      {{$ctrl.config.timeFrame}}

  %div{'ng-switch-when' => "compact", :class => "trend-card-compact-pf"}
    %div{:class => "row trend-row"}
      %div{:class => "col-sm-2", 'ng-class' => "{'col-sm-push-10': $ctrl.config.compactLabelPosition === 'right'}"}
        %div{:class => "trend-compact-details"}
          %span{'ng-if' => "$ctrl.showActualValue"}
            %span{:class => "trend-title-compact-big-pf"}
              {{$ctrl.getLatestValue()}}
            %span{:class => "trend-title-compact-small-pf"}
              {{$ctrl.config.units}}

          %span{'ng-if' => "$ctrl.showPercentageValue"}
            %span{:class => "trend-title-compact-big-pf"}
              {{$ctrl.getPercentageValue() + '%'}}
            %span{:class => "trend-title-compact-small-pf"}
              of {{$ctrl.chartData.total + ' ' + $ctrl.config.units}}

          %span{:class => "trend-header-compact-pf", 'ng-if' => "$ctrl.config.title"}
            {{$ctrl.config.title}}

      %div{:class => "col-sm-10", 'ng-class' => "{'col-sm-pull-2': $ctrl.config.compactLabelPosition === 'right'}"}
        %pf-sparkline-chart{'ng-if' => "$ctrl.chartData.dataAvailable !== false", 'config' => "$ctrl.config", 'chart-data' => "$ctrl.chartData", 'chart-height' => "$ctrl.getChartHeight()",
          'show-x-axis' => "$ctrl.showXAxis", 'show-y-axis' => "$ctrl.showYAxis"}
        %empty-chart{'ng-if' => "$ctrl.chartData.dataAvailable === false", 'chart-height' => "$ctrl.getChartHeight()"}

  %div{'ng-switch-when' => "inline", :class => "trend-card-inline-pf"}
    %div{:class => "row trend-row"}
      %div{:class => "col-sm-8 trend-flat-col"}
        %pf-sparkline-chart{'ng-if' => "$ctrl.chartData.dataAvailable !== false", 'config' => "$ctrl.config", 'chart-data' => "$ctrl.chartData", 'chart-height' => "$ctrl.getChartHeight()",
          'show-x-axis' => "$ctrl.showXAxis", 'show-y-axis' => "$ctrl.showYAxis"}
        %empty-chart{'ng-if' => "$ctrl.chartData.dataAvailable === false", 'chart-height' => "$ctrl.getChartHeight()"}

