.utilization-trend-chart-pf{'ng-class' => "{'data-unavailable-pf': $ctrl.chartData.dataAvailable === false}"}
  %h3
    {{$ctrl.config.title}}
  .current-values
    %h1{:class => "available-count pull-left"}
      {{$ctrl.currentValue}}
    .available-text.pull-left
      %div
        %span
          {{$ctrl.currentText}}

      %div
        %span
          = _("of")
          {{$ctrl.chartData.total}} {{$ctrl.config.units}}

  .donut-chart-pf
    %pf-donut-pct-chart{'ng-if' => "$ctrl.chartData.dataAvailable !== false", 'config' => "$ctrl.donutConfig", 'data' => "$ctrl.chartData", 'center-label' => "$ctrl.centerLabel"}
    %pf-empty-chart{'ng-if' => "$ctrl.chartData.dataAvailable === false", 'chart-height' => "231"}

  %div{'ng-if' => "$ctrl.chartData.dataAvailable !== false", :class => "sparkline-chart"}
    %pf-sparkline-chart{'config' => "$ctrl.sparklineConfig", 'chart-data' => "$ctrl.chartData", 'chart-height' => "$ctrl.sparklineChartHeight", 'show-x-axis' => "$ctrl.showSparklineXAxis", 'show-y-axis' => "$ctrl.showSparklineYAxis"}

  %span{:class => "pull-left legend-text"}
    {{$ctrl.legendLeftText}}
  %span{:class => "pull-right legend-text"}
    {{$ctrl.legendRightText}}


