- options = {:class => "filestyle", "data-buttonName" => "btn-default"}
- if local_assigns.key? :custom_options
  - options.merge!(custom_options)

= file_field(object_name, method, options)

- placeholder = _("No file chosen")
- button_text = _("Choose file")
:javascript
  $(":file").filestyle({icon: false, placeholder: "#{j placeholder}", buttonText: "#{j button_text}"});
