/ begin: app/views/shared/_report_chart_and_html.html.haml
-# locals: chart, html, report
- if chart
  = chart_remote('report', :id => 'my_chart', :zoomed => false)

  - if !html && report.filter_summary
    = report.filter_summary
  %p

- if html
  = render :partial => 'layouts/report_html'
/ end: app/views/shared/_report_chart_and_html.html.haml
