-# locals: chart, html, report
- if chart
  - chart_data = render_chart
  = react('DashboardWidget',:data => chart_data, :id => "1")

  - if !html && report.filter_summary
    = report.filter_summary
  %p

- if html
  = render :partial => 'layouts/report_html'
