.form-group.text
  %label.topology-checkbox.checkbox-inline
    %input#box_display_names{:type => 'checkbox'}
    = _("Display Names")

.form-group
  %button.btn.btn-default{'data-function'      => 'miqCallAngular',
                          'data-function-data' => {:name => 'refresh',
                                                   :args => []}.to_json}
    %i.fa.fa-refresh.fa-lg
    = _("Refresh")

%form.search-pf.topology-search{:role     => 'form',
                                :onsubmit => 'miqCallAngular({ name: "searchNode", args: [] }); return false'}
  .form-group.has-clear
    .search-pf-input-group
      %label.sr-only{:for => 'search'}
        = _("Search")

      %input#search_topology.form-control{:type         => 'search',
                                          'placeholder' => _("Search")}
      %button.clear{'aria-hidden'        => 'true',
                    'data-function'      => 'miqCallAngular',
                    'data-function-data' => {:name => 'resetSearch',
                                             :args => []}.to_json}
        %span.pficon.pficon-close

  .form-group.search-button
    %button.btn.btn-default.search-topology-button{'data-function'      => 'miqCallAngular',
                                                   'data-function-data' => {:name => 'searchNode',
                                                                            :args => []}.to_json}
      %span.fa.fa-search
