.form-group.text
  %label.topology-checkbox.checkbox-inline
    %input#box_display_names{:type => 'checkbox'}
    = _("Display Names")

.form-group
  %button.btn.btn-default{:title               => _('Refresh this page'),
                          'data-function'      => 'sendDataWithRx',
                          'data-function-data' => {:name => 'refreshTopology'}.to_json}
    %i.fa.fa-refresh.fa-lg
    = _("Refresh")
%form.search-pf.topology-search{:role     => 'form',
                                :onsubmit => 'sendDataWithRx({service: "topologyService", name: "searchNode", args: [] }); return false'}
  .form-group.has-clear
    .search-pf-input-group
      %label.sr-only{:for => 'search'}
        = _("Search")

      %input#search_topology.form-control{:type         => 'search',
                                          'placeholder' => _("Search")}

      -# this hidden button is a workaround
      -# pressing enter in ^input triggers a *click* event on the next button
      -# without this, that button is resetSearch, which ..is undesirable :)
      %button.hidden{'data-function'      => 'sendDataWithRx',
                     'data-function-data' => {:service => 'topologyService',
                                              :name => 'searchNode'}.to_json}

      %button.clear{'aria-hidden'        => 'true',
                    'data-function'      => 'sendDataWithRx',
                    'data-function-data' => {:service => 'topologyService',
                                             :name => 'resetSearch'}.to_json}
        %span.pficon.pficon-close

  .form-group.search-button
    %button.btn.btn-default.search-topology-button{'data-function'      => 'sendDataWithRx',
                                                   'data-function-data' => {:service => 'topologyService',
                                                                            :name => 'searchNode'}.to_json}
      %span.fa.fa-search
