= render :partial => "layouts/flash_msg"
.container-fluid.container-tiles-pf.ems-physical-infra-dashboard
  .row.row-tile-pf
    = react 'AggregateStatusCard', {:providerType => 'ems_physical_infra'}
  .row.row-tile-pf
    .col-xs-12.col-sm-12.col-md-6
      %server-health-pie-chart
  .row.row-tile-pf
    .col-xs-12.col-sm-12.col-md-6
      %recent-servers-line-chart

  :javascript
    miq_bootstrap('.ems-physical-infra-dashboard');
