= render :partial => "layouts/flash_msg"
.container-fluid.container-tiles-pf.ems-physical-infra-dashboard
  .row.row-tile-pf
    = react('AggregateStatusCard', :providerType => 'ems_physical_infra')
  .row.row-tile-pf
    .col-xs-12.col-sm-12.col-md-6
      = react('ServersDataChart', :providerId => '', :title => _('Servers Data'), :serversAvailableConfig => 'availableServersUsageConfig',
       :serversHealthConfig => 'serversHealthUsageConfig', :apiUrl => 'ems_physical_infra_dashboard/servers_group_data')
  .row.row-tile-pf
    .col-xs-12.col-sm-12.col-md-6
      = react('RecentVmGraph', :providerId => '', :title => _('Recent Servers'),
       :config => 'recentServersConfig', :apiUrl => 'ems_physical_infra_dashboard/recent_servers_data', :dataPoint => 'recentServers')

  :javascript
    miq_bootstrap('.ems-physical-infra-dashboard');
