- if @accords
  #accordion.panel-group
    -# Set the first accordion as selected if there is no active_accord in the sandbox
    - selected = @accords.find(-> { @accords.first }) { |accord| accord[:name].to_sym == @sb[:active_accord] }
    - @accords.each do |accord|
      = miq_accordion_panel(accord[:title], selected == accord, accord[:container]) do
        -# Set the first tree to be rendered if there is a mismatch with the name/type
        - tree = @trees.find(-> { @trees.first }) { |t| t.type == accord[:name].to_sym  }
        = render :partial => 'shared/tree', :locals  => {:tree => tree, :name => tree.name.to_s}

    :javascript
      $('#accordion').on('show.bs.collapse', miqAccordSelect);
