/ begin: app/views/layouts/listnav/_miq_template.html.haml
= render :partial => "layouts/listnav/vm_common", :locals => {:truncate_length => truncate_length}
/ end: app/views/layouts/listnav/_miq_template.html.haml
