/ begin: app/views/layouts/listnav/_x_compare_sections.html.haml
= render :partial => "layouts/listnav/compare_sections", :locals => {:truncate_length => truncate_length}
/ end: app/views/layouts/listnav/_x_compare_sections.html.haml
