%cloud-network-form{'network-provider-choices' => @network_ems_provider_choices.sort.to_json,
                    'cloud-network-form-id'    => @network.id || "new"}
:javascript
  miq_bootstrap('cloud-network-form');
