#auth_tabs
  %h3
    = _("Endpoints")
  %ul.nav.nav-tabs
    %li{'ng-repeat' => '(key, tab) in $ctrl.tabs',
        'id'        => 'tab.id',
        'ng-click'  => "$ctrl.changeAuthTab(tab.name)",
        "ng-class"  => "{'active': $ctrl.activeTab === tab.name}"}
      %a{:href => "#"}
        %i{"error-on-tab" => "default", :style => "color:#cc0000"}
        {{tab.title}}
