#main_div
  - if @record.property_associations.keys.include?(@display) || %w(custom_button_events).include?(@display)
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
  - else
    = render :partial => 'layouts/textual_groups_generic'
