#group_form_div
  = render :partial => "layouts/flash_msg"
  = react 'GroupForm', :recId => @edit[:rec_id],
                    :availableFields => (@edit[:new][:available_fields] || []), 
                    :fields => (@edit[:new][:fields] || []),
                    :url => url_for_only_path(:id => (@custom_button_set.id || 'new')),
                    :appliesToClass => @sb[:applies_to_class],
                    :appliesToId => @sb[:applies_to_id]
