- url = url_for_only_path(:action => 'group_form_field_changed', :id => (@custom_button_set.id || 'new'))
= (react 'GroupForm',  :rec_id => @edit[:rec_id],
                      :available_fields => @edit[:new][:available_fields] || [],
                      :fields => @edit[:new][:fields] || [],
                      :url => url,
                      :applies_to_class =>  @sb[:applies_to_class])