- url = url_for_only_path(:action => 'group_form_field_changed', :id => (@custom_button_set.id || 'new'))
= react 'GroupForm', :recId => @edit[:rec_id],
                    :availableFields => (@edit[:new][:available_fields] || []), 
                    :fields => (@edit[:new][:fields] || []),
                    :url => url, 
                    :appliesToClass => @sb[:applies_to_class]

