/ begin: app/views/ems_container/ad_hoc/_chart_view.html.haml
.line-chart
  .spinner.spinner-lg.loading{"ng-if" => "dash.loadingData"}
  #ad-hoc-metrics-chart{"pf-line-chart" => "",
                        "ng-if"         => "dash.chartDataInit",
                        "chart-data"    => "dash.chartData",
                        "config"        => "dash.chartConfig",
                        "show-x-axis"   => true,
                        "show-y-axis"   => true}
/ end: app/views/ems_container/ad_hoc/_chart_view.html.haml
