.ad-hoc-chart-toolbar{"pf-toolbar" => "", "config" => "dash.graphToolbarConfig"}
  %actions
    %label
      = _("Rate")
      %input.bootstrap-switch.ad-hoc-refresh{"type" => "checkbox",
                                             "name" => "rate-switch",
                                             "id"   => "rate-switch"}

    %select{"pf-select"  => "",
            "id"         => "timeRange",
            "ng-model"   => "dash.timeFilter.time_range",
            "ng-change"  => "dash.refreshGraph()",
            "ng-options" => "range.value as range.title for range in dash.timeRanges"}

    %button.btn.btn-primary{"type"          => "button",
                            "ng-attr-title" => _("Return to List View"),
                            "ng-click"      => "dash.viewMetrics()"}
      = _("List View")
