.col-md-12.ad-hoc-tenant
  .form-group.pull-left.ad-hoc-tenant
    %button.btn.btn-default{"type"     => "button",
                            "ng-click" => "dash.viewMetrics()"}
      = _("Return to list view")

%div{"pf-toolbar" => "", "config" => "dash.graphToolbarConfig"}
  %actions
    .input-group.bootstrap-touchspin.timeline-stepper.pull-left
      %span.input-group-btn
        %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "dash.countDecrement()",
                                                         "type"     => "button"} -
      %input.bootstrap-touchspin.form-control{"ng-model" => "dash.timeFilter.range_count",
                                              "readonly" => "readonly",
                                              "type"     => "text"}
      %span.input-group-btn
        %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "dash.countIncrement()",
                                                       "type"     => "button"} +

    %select.pull-left{"pf-select"  => "",
                      "id"         => "timeRange",
                      "ng-model"   => "dash.timeFilter.time_range",
                      "ng-options" => "range.value as range.title for range in dash.timeRanges"}

    %input.timeline-date-input.pull-left{"pf-date-timepicker" => "",
                                         "options"            => "dash.dateOptions",
                                         "date"               => "dash.timeFilter.date"}

    %button.btn.btn-primary.pull-left{"type" => "button", "ng-click" => "dash.refreshGraph()"}
      = _("Refresh")
