.list-view-container.list-view-compact{"ng-if"    => "dash.applied",
                                       "ng-class" => "{'no-filters': dash.filterConfig.fields.length === 0}"}
  .spinner.spinner-lg.loading{"ng-if" => "dash.loadingMetrics"}
  .col-md-12{"pf-list-view" => "", "config" => "dash.listConfig", "items" => "dash.items"}
    .list-view-pf-body.row
      .col-md-6.col-sm-6.no-wrap
        %span{"ng-if" => "item.type == 'gauge'"}
          %i.fa.fa-tachometer
        %span{"ng-if" => "item.type == 'counter'"}
          %i.pficon.pficon-trend-up
        {{item.id}}
      .col-md-6.col-sm-12.no-wrap{"ng-if" => "item.data"}
        .row
          .col-md-8.col-sm-6.no-wrap
            %strong
              = _("Most Recent")
            %span.time-stamp
              {{item.data[item.data.length - 1].timestamp | date:'hh:mm:ss yyyy-MM-dd'}}
          .col-md-4.col-sm-6.no-wrap
            %span.pull-right
              {{item.lastValue}}
      .col-md-6.col-sm-12.no-wrap{"ng-if" => "! item.data"}
        .row
          .col-md-8.col-sm-6.no-wrap
            %strong
              %i.pficon.pficon-warning-triangle-o
              = _("Missing Data")
    %list-expanded-content
      .row
        .col-md-6.col-sm-12.no-wrap{"ng-if" => "$parent.item.data"}
          %label.strong
            = _("Trend")
          .values-trend{"pf-trends-chart" => "",
                        "config"          => "$parent.$parent.item.configTrend",
                        "chart-data"      => "$parent.$parent.item.lastValues"}
        .col-md-6.col-sm-12.no-wrap
          %label.strong
            = _("Tags")
          .row{"ng-repeat" => "(key, value) in $parent.item.tags"}
            .col-md-3.col-sm-6.no-wrap
              .pull-left
                {{key}}:
            .col-md-9.col-sm-6.no-wrap
              {{value}}
