.col-md-12.tenant-filter-bar
  .form-group.pull-left.ad-hoc-tenant
    %select.selectpicker.tenants-selector{"pf-select"              => "",
                                          "id"                     => "tenant-slector",
                                          "ng-options"             => "o.label for o in dash.tenantList",
                                          "ng-model"               => "dash.tenant",
                                          "ng-change"              => "dash.tenantChanged = true",
                                          "data-live-search"       => "true",
                                          "data-actions-box"       => "true",
                                          "data-select-all-text"   => _("Select All"),
                                          "data-deselect-all-text" => _("Deselect All")}

    %button.btn.btn-primary{"type"        => "button",
                            "ng-disabled" => "!dash.tenantChanged",
                            "ng-click"    => "dash.refreshTenant()"}
      = _("Set Context")

.ad-hoc-toolbar.filters-selector{"pf-toolbar" => "", "id" => "filters-selector", "config" => "dash.toolbarConfig"}
  %actions
    %button.btn.btn-default{"type"        => "button",
                            "ng-show"     => "dash.filterType!=='simple'",
                            "ng-click"    => "dash.doAddFilter()",
                            "ng-disabled" => "!dash.filterConfig.currentValue"}
      = _("Add Filter")
    %button.btn.btn-primary{"type"        => "button",
                            "ng-click"    => "dash.applyFilters()",
                            "ng-disabled" => "!dash.filterChanged"}
      = _("Apply Filters")
    %button.btn.btn-primary{"type"        => "button",
                            "ng-click"    => "dash.viewGraph()",
                            "ng-disabled" => "!dash.itemSelected"}
      = _("View Graph")

    %dropdown.dropdown-kebab-pf
      %button.btn.btn-link.dropdown-toggle{"type"          => "button",
                                           "data-toggle"   => "dropdown",
                                           "aria-haspopup" => "true",
                                           "aria-expanded" => "true"}
        %span.fa.fa-ellipsis-v
      %ul.dropdown-menu{"aria-labelledby" => "dropdownKebab"}
        %li{"ng-repeat" => "range in dash.filterTypes"}
          %a{"href"     => "#",
             "ng-click" => "dash.filterType = range.value; dash.setFilterOptions()"}
            .row
              .col-md-9
                {{range.title}}
              .col
                %span.pficon{"ng-class" => "{true: 'pficon-ok'}[dash.filterType===range.value]"}

.form-group.pagination-div
  %ul.pagination.pagination-pf-back
    %li
      %a{"href"  => "#",
         "ng-click" => "dash.setPage(1)",
         "title" => _("First Page")}
        %span.i.fa.fa-angle-double-left
    %li
      %a{"href"  => "#",
         "ng-click" => "dash.setPage(dash.page - 1)",
         "title" => _("Previous Page")}
        %span.i.fa.fa-angle-left

  #pagination-title {{dash.pagesTitle}}

  %ul.pagination.pagination-pf-forward
    %li
      %a{"href"  => "#",
         "ng-click" => "dash.setPage(dash.page + 1)",
         "title" => _("Next Page")}
        %span.i.fa.fa-angle-right
    %li
      %a{"href"  => "#",
         "ng-click" => "dash.setPage(dash.pages)",
         "title" => _("Last Page")}
        %span.i.fa.fa-angle-double-right
