.list-view-container.list-view-compact{"ng-if"    => "dash.applied && !dash.loadingMetrics",
                                       "ng-class" => "{'no-filters': dash.filterConfig.fields.length === 0}"}
  .col-md-12{"pf-list-view" => "", "config" => "dash.listConfig", "items" => "dash.items"}
    .list-view-pf-body
      .list-group-item-heading
        {{item.id}}
      .list-group-item-value{"ng-if" => "item.data"}
        {{item.lastValue}}
      .list-group-item-value{"ng-if" => "! item.data"}
        %i.pficon.pficon-warning-triangle-o
        = _("Missing Data")
    %list-expanded-content
      .row
        .col-md-6.col-sm-12.no-wrap
          .section-title
            = _("Tags")
          .row{"ng-repeat" => "(key, value) in $parent.item.tags"}
            .col-md-3.col-sm-6.no-wrap
              .pull-left
                {{key}}:
            .col-md-9.col-sm-6.no-wrap
              {{value}}

        .col-md-6.col-sm-12.no-wrap{"ng-if" => "$parent.item.data"}
          .section-title
            = _("Trend")
          .values-trend{"pf-trends-chart" => "",
                        "config"          => "$parent.$parent.item.configTrend",
                        "chart-data"      => "$parent.$parent.item.lastValues"}
          .chart_label
            = _("Last 15 min")
