.blank-slate-pf{"ng-if" => "!dash.applied",
                "ng-class" => "{'no-filters': dash.filterConfig.fields.length === 0,
                                'loading': !dash.tagsLoaded}"}
  .spinner.spinner-lg.loading{"ng-if" => "!dash.tagsLoaded"}
  .blank-slate-pf-icon
    %span.fa.fa-info-circle
  %h1
    = _("Metrics")
  %p{"ng-if" => "!dash.tagsLoaded"}
    = _("Loading available tags")
  %p{"ng-if" => "dash.tagsLoaded"}
    = _("Add tags to view available metrics")
