#main_div
  - if ManageIQ::Providers::ContainerManager.any?
    = render :partial => 'layouts/gtl'
  - else
    = render :partial => 'layouts/empty',
             :locals => {:add_message => _("Add a new Containers Provider"),
                         :documentation => ::Settings.docs.container_provider}
