#main_div
  - if %w[source_security_groups destination_security_groups network_services custom_button_events].include?(@display) && @showtype != "compare"
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
  - elsif @showtype == 'main'
    = render :partial => "layouts/textual_groups_generic"
