%form#form_div{'name'          => 'angularForm',
               'form-changed'  => true,
               'miq-form'      => true,
               'model'         => 'vm.floatingIpModel',
               'model-copy'    => 'vm.modelCopy',
               'ng-cloak'      => '',
               'ng-controller' => 'floatingIpFormController as vm',
               'ng-show'       => 'vm.afterGet'}

  = render :partial => "layouts/flash_msg"


:javascript
  ManageIQ.angular.app.value('floatingIpFormId', '#{@floating_ip.id || "new"}');
  miq_bootstrap('#form_div');
