#main_div
  %floating-ip-form-component
:javascript
  ManageIQ.angular.app.value('floatingIpFormId', '#{@floating_ip.id}');
  ManageIQ.angular.app.value('emsChoices', null);
  miq_bootstrap('floating-ip-form-component')
