.pf-remove-button {
  color: $color-pf-white;
  vertical-align: middle;
  margin-left: 5px;
}

.tag {
  font-size: 0.8em;
  display: table-cell !important;
  vertical-align: middle;
  border-radius: 1px;
  border-color: #4c4c4c;
}

.tagColor {
  color: #ffffff;
  margin-top: 8px;
}

.category-label {
  padding-top: 0.5rem;
  cursor: default;
}

.value-label {
  background-color: #78a9ff;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;

  .value-span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
    vertical-align: middle;
    line-height: 24px;
    background-color: #78a9ff;
  }

  .cds--btn--sm.cds--btn--icon-only {
    padding-right: 0;
    padding-left: 0;
  }

  .tagButton {
    background-color: #78a9ff;
    min-height: 26px;
    height: 100%;
  }

  .tagButton:hover {
    background-color: #002d9c;
  }
}
