@import '~patternfly/dist/sass/patternfly/variables';
:export { defaultColor: $color-pf-white; }

.pf-remove-button {
  color: $color-pf-white;
  vertical-align: middle;
  margin-left: 5px;
}

.tag {
  font-size: 0.8em;
  display: table-cell !important;
  vertical-align:middle;

  span {
    background-color: $color-pf-blue-400;
  }
}

.tagColor {
  color: $color-pf-white;
}
