= render :partial => 'form'
= react('ActionForm', 
         :recordId => @action.id.to_s,
         :inheritTags => @edit[:cats],
         :availableAlerts => @edit[:allChoices].sort,
         :tags => @tags_select,
         :ansibleInventory => @edit[:ansible_playbooks],
         :snapshotAge => MiqPolicyHelper::SNAPSHOT_AGES.invert.to_a.sort_by(&:last),
         :parentType => @edit[:tag_parent_types],
         :inventoryType => @edit[:new][:inventory_type])

