- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => true})

#main_div
  - case @nodetype
  - when "root"
    = render :partial => "action_list"
  - when "a", "ta", "fa"
    = render :partial => "action_details", :locals => {:read_only => true}
