= render :partial => "layouts/flash_msg"

= react 'GroupForm', :recId => @custom_button_group.try(:id),
                     :url => "/#{controller_name}/",
                     :appliesToId => @generic_object_definition.try(:id),
                     :appliesToClass => 'GenericObjectDefinition',
                     :isGenericObject => true
