/ begin: app/views/generic_object_definition/_custom_button_group_form.html.haml
- @angular_form = true

= render :partial => "layouts/flash_msg"

%main-custom-button-group-form-component{"generic-object-defn-record-id" => @generic_object_definition.try(:id),
                                         "custom-button-group-record-id" => @custom_button_group.try(:id),
                                         "redirect-url"                  => "/#{controller_name}/show_list",}

:javascript
  miq_bootstrap('main-custom-button-group-form-component');
/ end: app/views/generic_object_definition/_custom_button_group_form.html.haml
