- @angular_form = true

= render :partial => "layouts/flash_msg"

%main-custom-button-form{"generic-object-definition-record-id" => @generic_object_definition.try(:id),
                         "custom-button-group-record-id"       => @custom_button_group.try(:id),
                         "custom-button-record-id"             => @custom_button.try(:id),
                         "redirect-url"                        => "/#{controller_name}/show_list",}

:javascript
  miq_bootstrap('main-custom-button-form');
