= render :partial => "layouts/flash_msg"

= react 'CustomButtonForm', :recId => @custom_button.try(:id),
                            :url => "/#{controller_name}/show_list",
                            :appliesToClass => "GenericObjectDefinition",
                            :appliesToId => @generic_object_definition.try(:id).to_s,
                            :customButtonGroupId => @custom_button_group.try(:id).to_s,
                            :distinctInstances => @distinct_instances_across_domains,
                            :ansiblePlaybooks => @templates,
                            :isGenericObject => true
