/ begin: app/views/generic_object_definition/_list.html.haml
#main_div
  = render :partial => 'layouts/gtl'

:javascript
  $('#searchbox').hide();
/ end: app/views/generic_object_definition/_list.html.haml
