#main_div
  = render :partial => 'layouts/gtl'

  %generic-object-definition-toolbar#generic_object_definition_show_list_form

:javascript
  miq_bootstrap('#generic_object_definition_show_list_form');

