= generic_object_definition_button_group_summary(@record)
- if @record.custom_buttons.empty?
    %hr
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Buttons found.")}
- else
    = react 'ButtonList', :list => @custom_buttons_table_data,
        :treeId => x_node,
        :treeBox => 'generic_object_definitions_tree',
        :nodeType => @nodeType,
        :shortNodeKey => true
