%div
  .tip-title
    {{item.name}}
  .tip-row{"ng-repeat" => "alert in vm.hoverAlerts track by $index"}
    .tip-col.description-col{"ng-if" => "$index < 5"}
      {{alert.description}}
    .tip-col.date-col{"ng-if" => "$index < 5"}
      {{alert.evaluated_on | date:"yyyy-MM-dd hh:mm:ss"}}
