%div{'ng-if' => "$ctrl.loading"}
  .alert.alert-info
    .pficon.pficon-info
    %strong
      = _("Loading...")

%div{'ng-if' => "$ctrl.error"}
  .alert.alert-danger
    .pficon.pficon-error-circle-o
    %strong
      = _("Error loading data:")
      {{$ctrl.error.message}}

%div{'ng-if' => "$ctrl.data"}
  %h3
    = _('Standard Output')
  .form-horizontal
    .form-group
      .col-md-9
        %div{'ng-bind-html' => "$ctrl.sanitized"}
