.button-group
  %miq-button{:name => _('Add'), :title => _("Add"), :alt => _("Add"), :enabled => "saveable(angularForm)", 'on-click' => "addClicked($event, true)", 'ng-show' => "newRecord", :primary => 'true'}
  %miq-button{:name => t = _('Save changes'), :title => t, :alt => t, :enabled => "saveable(angularForm)", 'on-click' => "saveClicked($event, true)", 'ng-show' => "!newRecord", :primary => 'true'}
  %miq-button{:name => t = _('Reset changes'), :title => t, :alt => t, :enabled => "!angularForm.$pristine", 'on-click' => "resetClicked()", 'ng-show' => "!newRecord"}
  %miq-button{:name => t = _('Cancel'), :title => t, :alt => t, :enabled => "true", 'on-click' => "cancelClicked($event)"}
