.dropdown.pull-right.dropdown-kebab-pf
  %button.btn.btn-link.dropdown-toggle{'aria-haspopup' => "true",
                                       'data-toggle'   => "dropdown",
                                       'id'            => "{{vm.dropdown_id}}",
                                       'type'          => "button",
                                       'aria-expanded' => "false"}
    %span.fa.fa-ellipsis-v

  %ul.dropdown-menu.dropdown-menu-right{'aria-labelledby' => "{{vm.dropdown_id}}"}
    %li{'ng-repeat' => "button in vm.buttons"}
      -# data-remote="" breaks PDF donwnload, can't exist when empty, thus the ng-attr
      %a{'id'                  => "{{button.id}}",
         'title'               => "{{button.title}}",
         'data-method'         => "{{button.dataMethod}}",
         'ng-attr-data-remote' => "{{button.dataRemote}}",
         'data-confirm'        => "{{button.confirm}}",
         'href'                => "{{button.href}}",
         'data-miq_sparkle_on' => "{{button.sparkleOn ? 'true' : 'false'}}",
         'ng-attr-target'      => "{{button.target}}"}
        %span{'ng-class' => "button.fonticon"}
        {{button.name}}
