%div
  %miq-button.validate_button{:name      => _('Validate'),
                              'on-click' => "vm.chooseValidation()",
                              :enabled   => 'vm.enabled',
                              :xs        => 'true',
                              :primary   => 'true'}
