%div
  %miq-button{:class     => 'validate_button',
              :name      => _('Validate'),
              'ng-click' => 'vm.validate()',
              :enabled   => 'vm.enabled',
              :xs        => 'true',
              :primary   => 'true'}
