%miq-button.validate_button{:name      => _('Validate'),
                            'on-click' => "vm.chooseValidation()",
                            "disabled-title" => '{{vm.buttonLabels.verifyTitleOffLabel}}',
                            "enabled-title"  => '{{vm.buttonLabels.verifyTitleOnLabel}}',
                            :enabled   => 'vm.enabled',
                            :xs        => 'true',
                            :primary   => 'true'}
