%div
  %miq-button.validate_button{:name      => _('Validate'),
                              'on-click' => "vm.chooseValidation()",
                              "disabled-title" => '{{vm.buttonLabels.verifyTitleOff}}',
                              "enabled-title"  => '{{vm.buttonLabels.verifyTitleOn}}',
                              :enabled   => 'vm.enabled',
                              :xs        => 'true',
                              :primary   => 'true'}
