<div pf-form-group pf-label="{{'Show Refresh Button'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.show_refresh_button"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate }}"/>
</div>
<div pf-form-group pf-label="{{'Load values on init'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.load_values_on_init"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate }}"/>
</div>
