<div ng-if="vm.modalTabIsSet('options')">
  <form class="form-horizontal">
    <div pf-form-group pf-label="{{'Required'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.required"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Read only'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.read_only"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Visible'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.visible"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Category'|translate}}">
      <select class="form-control" miq-select ng-attr-title="{{'Nothing Selected'|translate}}"
              ng-change="vm.setupCategoryOptions()"
              ng-model="vm.modalData.options.category_id"
              ng-options="category.id.toString() as category.description for category in vm.categories.resources">
        <option selected="selected" value="" translate>None</option>
      </select>
    </div>
    <div ng-if="!vm.modalData.options.category_single_value"
         pf-form-group pf-label="{{'Single value'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.options.force_single_value"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Value type'|translate}}">
      <select class="form-control" miq-select
              ng-model="vm.modalData.data_type">
        <option value="integer" translate>Integer</option>
        <option selected="selected" value="string" translate>String</option>
      </select>
    </div>
    <div pf-form-group pf-label="{{'Sort by'|translate}}">
      <select class="form-control" miq-select
              ng-model="vm.modalData.options.sort_by">
        <option value="none" translate>None</option>
        <option value="description" translate>Description</option>
        <option value="value" translate>Value</option>
      </select>
    </div>
    <div pf-form-group pf-label="{{'Sort order'|translate}}">
      <select class="form-control" miq-select
              ng-model="vm.modalData.options.sort_order">
        <option selected="selected" value="ascending" translate>Ascending</option>
        <option value="descending" translate>Descending</option>
      </select>
    </div>
    <div pf-form-group class="form-inline" pf-label="{{'Entries'|translate}}" required>
      <div ng-repeat="entry in vm.currentCategoryEntries().children">
        <input id="label" name="label"
               ng-model="entry.description" type="text" placeholder="{{'Key'|translate}}" readonly/>
      </div>
    </div>
    <dialog-editor-modal-field-template template="_fields-to-refresh.html"
                                        modal-data="vm.modalData">
    </dialog-editor-modal-field-template>
  </form>
</div>
