#form_div
  #basic_info_div
    = render :partial => "layouts/flash_msg"
    = react('ServiceDialogFromForm', 
            :templateId            => @edit[:rec_id],
            :dialogClass           => "Dialog::OrchestrationTemplateServiceDialog",
            :templateClass         => "OrchestrationTemplate",
            :miqRedirectBackAdress => "/catalog/explorer")
