- role_allows = role_allows?(:feature => 'rbac_tenant_view') ? true : false
- if @checked_id.nil?
  - @checked_id = 'new'
= react('AnsiblePlayBookEditCatalogForm', {:initialData => {:catalogFormId => @checked_id, :allCatalogs => @available_catalogs, :zones => @zones, :currentRegion => @current_region, :tenantTree => @tenants_tree, :roleAllows => role_allows}})
