#form_div
  = render :partial => "layouts/flash_msg"
  - read_only = @edit && @edit[:db_id] ? true : false
  = react('DashboardForm', { :dbAction => params[:pressed] || '',
                             :dashboardId => @edit[:db_id] || 'new',
                             :initialValues => { :name             => @edit[:current][:name],
                                                 :description      => @edit[:current][:description],
                                                 :locked           => @edit[:current][:locked] || false,
                                                 :reset_upon_login => @edit[:current][:reset_upon_login] || true},
                             :maxDescLen => ViewHelper::MAX_DESC_LEN,
                             :maxNameLen => ViewHelper::MAX_NAME_LEN,
                             :readOnly => read_only })
  %hr
  = render :partial => "db_widgets"
  - if read_only
    = _('* Dashboard name cannot be changed')
