/ begin: app/views/ops/rbac_group/_vms_templates.html.haml
%br
= _("This user is limited to the selected folders and their children.")
%br
%br
= render(:partial => 'shared/tree', :locals => {:tree => @vat_tree, :name => @vat_tree.name})
/ end: app/views/ops/rbac_group/_vms_templates.html.haml
