#main_div
  %cloud-volume-backup-form-component{'cloudVolumeBackupFormId' => ''}
:javascript
  ManageIQ.angular.app.value('cloudVolumeBackupFormId', #{@backup.id});
  miq_bootstrap('cloud-volume-backup-form-component');
