%div{'ng-controller' => "donutPctChartController as vm"}
  .donut-chart-pf
    %pf-donut-pct-chart{'ng-if' => "{{vm.chartData.dataAvailable !== false}}", 'config' => "data_hash.donutConfig", 'data' => "{{vm.data}}", 'center-label' => "{{vm.centerLabel}}"}
