- @angular_form = true

= render :partial => "layouts/flash_msg"

%change-password{"record-id"    => @record.id,
                 "record-name"  => @record.name,
                 "redirect-url" => ems_physical_infra_path(@record),}

:javascript
  miq_bootstrap('change-password');
