= react('ProviderForm', :providerId => @ems.id.to_s, :redirect => edit_redirect_path(@lastaction, @ems), :kind => 'physical_infra', :title => ui_lookup(:model => 'ManageIQ::Providers::PhysicalInfraManager'))
