.aggregate_status{"ng-controller" => "aggregateStatusCardController as vm"}
  .col-xs-12.col-sm-12.col-md-2
    %pf-aggregate-status-card{:class => "aggregate-object-card", :status => "vm.status", "show-top-border" => "true"}
  .col-xs-12.col-sm-12.col-md-10
    .row
      .col-xs-6.col-sm-6.col-md-3{"ng-repeat" => "status in vm.AggStatus"}
        %pf-aggregate-status-card{:layout => "mini",'ng-attr-id' => "{{status.id}}", :status => "status", "show-top-border" => "true", :class =>"ng-isolate-scope"}
