%div
  .card-pf.card-pf-utilization
    .card-pf-heading
      %h2.card-pf-title
        {{$ctrl.title}}
    .card-pf-body
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-6.example-trend-container{"ng-repeat" => "(key, data_hash) in $ctrl.data"}
          %pf-group-chart{'ng-if' => "$ctrl.loadingDone", 'ng-attr-id' => "{{data_hash.id}}",
            'config' => "data_hash.config",
            'chart-data' => "data_hash.data",
            'pie-config' => "data_hash.pieConfig"}
          %span.trend-footer-pf{{"ng-class" => "{ 'chart-transparent-text': data_hash.data.dataAvailable === false }"}}
            {{$ctrl.timeframeLabel}}

