#pxe_image_type_details_div
  -# if PXE Server is selected %>
  - if @pxe_image_type
    - if @in_a_form
      = react 'PxeImageForm', :recordId => @pxe_image_type.try(:id).try(:to_s)

    - else
      = react 'GenericGroupWrapper', expand_generic_group(TextualGroup.new(_('Basic Information'), textual_sysimg_type_basicinfo), @record)
