#template_details_div
  -# if Customization template is selected
  - if @ct
    #template_info_div
      - if @in_a_form
        = react 'PxeCustomizationTemplateForm', :recordId => @ct.try(:id).try(:to_s), :copy => @record.try(:id).try(:to_s)
      - else
        = render :partial => "layouts/flash_msg"
        = react 'GenericGroupWrapper', expand_generic_group(TextualGroup.new(_('Basic Information'), textual_template_basicinfo), @record)
        %hr
        = pxe_script_data(@ct)
