- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox")
  = render(:partial => 'layouts/quick_search')
- if TreeBuilder.get_model_for_prefix(@nodetype) == "Service"
  - @selected_ids = [] # FIXME: hack to hide checkboxes
  -# Showing a specific Service
  #main_div
    = render :partial => "svcs_show", :locals => {:controller => "service"}
    -# FIXME: remove sand-paper style hack when we resolve the div shared between
    -# the GTL grid an details.
    :javascript
      setTimeout(function() {
        var mainContent = $('#main-content');
        mainContent.removeClass('miq-sand-paper');
      });
- else
  -# Showing a list of VMs
  #main_div
    = render :partial => 'layouts/x_gtl'
