= react 'ServiceReconfigureForm', :dialogLocals => { :resourceActionId => @dialog_locals[:resource_action_id], :targetId => @dialog_locals[:target_id] }
= render :partial => "shared/dialogs/reconfigure_dialog"
