- if @display == 'generic_objects'
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- elsif @ownershipitems
  = render :partial => "shared/views/ownership"
- elsif @showtype == 'main'
  = render :partial => "svcs_show", :locals => {:controller => "service"}
