#main_div
  - if %w(generic_objects).include?(@display)
    - if @lastaction == 'generic_object' && @item
      = render :partial => 'layouts/textual_groups_generic'
    - else
      = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
  - else
    = render :partial => 'layouts/textual_groups_generic'
