#main_div
  - if ManageIQ::Providers::ExternalAutomationManager.any?
    = render :partial => "layouts/gtl"
  - else
    = render :partial => 'layouts/empty',
             :locals => {:add_message   => _("Add a new Automation Provider"),
                         :documentation => Settings.docs.automation_manager}
