/* Bootstrap overrides */
.whitelabel {
  background-image: url($img-bg-login-whitelabel);
  background-size: 100% 100%;
}

.about-modal {
  .cds--modal-container {
    background-color: $modal-about-pf-bg-color;

    /* 'About' modal background image */
    background-image: url($modal-about-pf-bg-img);
    background-size: 100% 100%;

    .cds--modal-header {
      padding-left: 5rem;
      padding-top: 3rem;

      .cds--modal-header__heading {
        color: #fff;
      }

      .cds--modal-close {
        .cds--modal-close__icon {
          fill: #fff;
        }
      }
    }

    .cds--modal-content {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .about-modal-body {
      padding-left: 4rem;
      padding-bottom: 0;

      .about-visible-scrollbar {
        height: 200px;
        overflow: auto;
      }

      .about-visible-scrollbar::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      .about-visible-scrollbar::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px #f5f5f5;
        border-radius: 10px;
      }

      /* Handle */
      .about-visible-scrollbar::-webkit-scrollbar-thumb {
        background: #f5f5f5;
        border-radius: 10px;
      }

      .ModalItem {
        font-size: 12px;
        color: #fff;
        margin: 0 0 5px;
      }

      .plugins-button {
        padding: 0;
        background-color: transparent;
        outline: none;
        color: #fff;
        font-size: 12px;

        strong {
          display: flex;
          align-items: center;
        }
      }

      .miq-product-info-and-logo-wrapper {
        display: flex;
        justify-content: space-between;

        p {
          display: flex;
          align-items: center;
        }
        .logo {
          scale: 0.8;
        }
      }
    }
  }
}
