.kube-topology line.ContainerServiceContainerGroup,
.kube-topology line.ContainerReplicatorContainerGroup,
.kube-topology line.ContainerServiceContainerRoute,
.kube-topology line.ContainerGroupContainerService,
.kube-topology line.ContainerGroupContainerReplicator {
  stroke-linecap: round;
  stroke-dasharray: 5.5;
}

.topology .legend {
  /* prevents tooltip from conflicting with the nav bar */
  margin-left: 55px;
}

.kube-topology g text.glyph {
  font-size: 20px;
  fill: #1186c1;
}

.kube-topology g.Container text.glyph {
  font-size: 15px;
}

.kube-topology g.ContainerGroup text.glyph {
  font-size: 18px;
}

.kube-topology g.Vm text.glyph,
.kube-topology g.Host text.glyph {
  fill: #636363;
}

.kube-topology g.ContainerNode text.glyph {
  font-size: 25px;
}

.kube-topology g.ContainerManager text.glyph {
  font-size: 38px;
}
