.treeview {
  > .list-group .list-group-item {
    font-size: 13px;
    margin-bottom: 4px;
    
    &.strikethrough {
      text-decoration: line-through;
    }

    &.red {
      color: red;
    }

    &.opacity {
      opacity: 0.4;
    }

    &.no-cursor {
      cursor: default !important;
    }
  }

  .list-group-item.node-selected {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .react-tree-view ul li {
    margin-bottom: 8px;
  }
}

.react-tree-view {
  .strikethrough {
    text-decoration: line-through;
  }

  .red {
    color: red;
  }

  .opacity {
    opacity: 0.4;
  }

  .no-cursor {
    cursor: default !important;
  }
}
