@import "~@manageiq/ui-components/dist/css/ui-components.css";
@import "~patternfly/dist/sass/patternfly/_variables.scss";
@import "~patternfly/dist/sass/patternfly/_icons.scss";
@import "~font-awesome/scss/font-awesome.scss";
@import "~@manageiq/font-fabulous/assets/stylesheets/_font-fabulous.scss";

@page {
  margin-top: 40pt;
  margin-right: 30pt;
  margin-bottom: 40pt;
  margin-left: 30pt;
}

fieldset {
  page-break-inside: avoid
}

body {
  font: 12px/1.231 Arial, Helvetica, sans-serif;
}

.center {
  text-align: center;
}

.quadicon {
  width: 100%;
  miq-quadicon {
    margin-left: auto;
    margin-right: auto;
  }
}

dl {
  float: left;
  width: 100%;
  &.col2 dd {
    float: left;
    width: 47%;
    margin: 0;
    margin-right: 15px;
    padding: 0;
  }
}

table {
  background-color: #ededed;
  border-spacing: 1px;
  margin-bottom: 15px;
  width: 100%;
  color: #4b4b4b;

  tr {
    th {
      height: 19px;
      padding: 4px;
      padding-left: 10px;
      font: normal 12px Arial, Helvetica, sans-serif !important;
      line-height: 19px;
    }

    td {
      background: #fff;
      vertical-align: top;
      padding: 3px 6px 3px 6px;

      &.label {
        font: 12px Arial, Helvetica, sans-serif;
        width: 33%;
        text-align: right;
        cursor: default;
      }

      img {
        height: 16px;
        width: 16px;
        float: left;
        padding-right: 3px;
      }
    }

    &.row0 td {
      background: #fff;
    }

    &.row1 td {
      background: #f5f5f5;
    }
  }
}

error-modal {
  display: none;
}

table.report {
  border-spacing: 0;
  border-left: 1px solid #d1d1d1;
  border-collapse: separate;
  color: #4d5258;

  thead tr th {
    height: 19px;
    margin: 0;
    padding: 4px;
    padding-left: 10px;
    border-right: 1px solid #d1d1d1;
    border-left: 0 !important;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px #d1d1d1 solid;
    font: normal 12px Arial, Helvetica, sans-serif !important;
    line-height: 19px;
    background: #f5f5f5;
  }

  tbody {
    tr {
      &.row1-nocursor {
        background: #f5f5f5;
      }
      td {
        border: 1px solid transparent;
        border-right: 1px solid #d1d1d1;
        border-bottom-color: #e7e7e7;
        padding: 2px 2px 2px 10px;
        margin: 0;
        vertical-align: middle;
        cursor: default;
        color: #4d5258;

        &.group {
          border-top: 1px solid #fff;
          background: #ececec;
          font: normal 12px Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}

.miq_rpt_red_bg {
  background: #fbdbdb !important;
}

.miq_rpt_yellow_bg {
  background-color: #ffdc99 !important;
}

.miq_rpt_green_bg {
  background-color: #cef7c9 !important;
}

.miq_rpt_blue_bg {
  background-color: #76badf !important;
}

.miq_rpt_purple_bg {
  background-color: #c0acdc !important;
}

.miq_rpt_maroon_bg {
  background-color: #d4edfa !important;
}

.miq_rpt_gray_bg {
  background-color: #d1d1d1 !important;
}

.miq_rpt_red_text {
  color: #cc0000;
  font-weight: bold;
}

.miq_rpt_yellow_text {
  color: #cccc00;
  font-weight: bold;
}

.miq_rpt_green_text {
  color: #3f9c35;
  font-weight: bold;
}

.miq_rpt_blue_text {
  color: #006e9c;
  font-weight: bold;
}

.miq_rpt_purple_text {
  color: #925bad;
  font-weight: bold;
}

.miq_rpt_maroon_text {
  color: #76badf;
  font-weight: bold;
}

.miq_rpt_gray_text {
  color: gray;
  font-weight: bold;
}
