.topology-tb .has-clear .clear {
  background: rgba(255, 255, 255, 0);
  border-width: 0;
  height: 25px;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 28px;
}
