- ng_show                   ||= true
- validate_url              ||= 'create'
- prefix                    ||= 'ssh_keypair'
- userid_label              ||= _("Username")
- private_key_label         ||= _("Private Key")
- new_private_key_label     ||= _("New ") + private_key_label
- ng_reqd_userid            ||= false
- ng_reqd_private_key       ||= false
- userid_disabled           ||= false
- private_key_disabled      ||= false
- change_stored_private_key ||= _("Change stored private key")
- cancel_private_key_change ||= _("Cancel private key change")
- verify_title_off          ||= _("Server information, username and private key fields are needed to perform verification of credentials")
- vm_scope                  ||= false
- main_scope                  = vm_scope ? "$parent.vm" : "$parent"

%ems-keypair-component{'prefix' => prefix, 'ng_reqd_userid' => ng_reqd_userid.to_json}

:javascript
  ManageIQ.angular.app.value('ng_reqd_private_key', ng_reqd_private_key.to_json);
  ManageIQ.angular.app.value('ng_show', ng_show.to_json);
  ManageIQ.angular.app.value('validate_url', validate_url.to_json);
  ManageIQ.angular.app.value('main_scope', main_scope.to_json);
  ManageIQ.angular.app.value('verify_title_off', verify_title_off.to_json);
  ManageIQ.angular.app.value('userid_disabled', userid_disabled.to_json);
  ManageIQ.angular.app.value('private_key_disabled', private_key_disabled.to_json);
  ManageIQ.angular.app.value('userid_label', userid_label.to_json);
  ManageIQ.angular.app.value('private_key_label', private_key_label.to_json);
  ManageIQ.angular.app.value('new_private_key_label', new_private_key_label.to_json);
  ManageIQ.angular.app.value('change_stored_private_key', change_stored_private_key.to_json);
  ManageIQ.angular.app.value('cancel_private_key_change', cancel_private_key_change.to_json);
  miq_bootstrap('ems-keypair-component')
