- ng_show                   ||= true
- validate_url              ||= 'create'
- prefix                    ||= 'ssh_keypair'
- userid_label              ||= _("Username")
- private_key_label         ||= _("Private Key")
- new_private_key_label     ||= _("New ") + private_key_label
- ng_reqd_userid            ||= false
- ng_reqd_private_key       ||= false
- userid_disabled           ||= false
- private_key_disabled      ||= false
- change_stored_private_key ||= _("Change stored private key")
- cancel_private_key_change ||= _("Cancel private key change")
- verify_title_off          ||= _("Server information, username and private key fields are needed to perform verification of credentials")
- vm_scope                  ||= false
- main_scope                  = vm_scope ? "$parent.vm" : "$parent"

%ems-keypair-component
:javascript
  ManageIQ.angular.app.value('prefix', prefix.to_json);
  ManageIQ.angular.app.value('ng_reqd_userid', ng_reqd_userid.to_json);
  ManageIQ.angular.app.value('ng_reqd_private_key', ng_reqd_private_key.to_json);
  ManageIQ.angular.app.value('ng_show', ng_show.to_json);
  miq_bootstrap('ems-keypair-component')
