%provider-option-section{"label"        => "{{ emsOptionsModel.provider_options.proxy_settings.label }}",
                         "help_text"    => "{{ emsOptionsModel.provider_options.proxy_settings.help_text }}",
                         "section_name" => "{{ emsOptionsModel.provider_options.proxy_settings.section_name }}",
                         "settings"     => "emsOptionsModel.provider_options.proxy_settings.settings"}
