/ begin: app/views/layouts/angular-bootstrap/_provider_advanced_settings.html.haml
%provider-option-section{"ng-repeat" => "section in emsOptionsModel.provider_options.advanced_settings.settings",
  "label"        => "{{ section.label }}",
  "help_text"    => "{{ section.help_text }}",
  "section_name" => "{{ section.section_name }}",
  "settings"     => "section.settings"}
/ end: app/views/layouts/angular-bootstrap/_provider_advanced_settings.html.haml
