#main_div
  - if %w(firmware_binaries).include?(@display)
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
  - else
    = render :partial => 'layouts/textual_groups_generic'
