- @angular_form = true

#main_div
  - if %w(physical_servers).include?(@display)
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
  - else
    = render :partial => 'layouts/textual_groups_generic'

  %form#physical_server_show_form{"name"          => "angularForm",
                                  "ng-controller" => "physicalServerToolbarController",
                                  "novalidate"    => "true"}

:javascript
  ManageIQ.angular.app.value('physicalServerId', #{@record.id});
  miq_bootstrap('#physical_server_show_form');
