#main_div
    - arr = %w(physical_server physical_servers)
    - if arr.include?(@display) && @showtype != "compare"
        = render(:partial => "layouts/gtl", :locals => {:action_url => "show/#{@ph_server.id}"})
    - else
        = render(:partial => @showtype)
