%cloud-subnet-form
:javascript
  ManageIQ.angular.app.value('cloudSubnetFormId', '#{@subnet.id || "new"}');
  ManageIQ.angular.app.value('networkProviderChoices', '#{@network_provider_choices.sort.to_json}' );
  miq_bootstrap('cloud-subnet-form')
