- submit_title_on ||= _("Run a Database backup now")
- submit_title_off ||= _("Username and matching password fields are needed to run a database backup")
- confirm ||= ""
- ng_show ||= true

%div{"ng-show" => ng_show, "ng-controller" => "buttonGroupController"}
  %miq-button{:name            => _("Submit"),
              "disabled-title" => submit_title_off,
              "enabled-title"  => submit_title_on,
              :enabled         => "saveable(angularForm)",
              'on-click'       => "submitButtonClicked('#{confirm}')",
              :primary         => 'true'}
