%table{:width => '100%'}
  %tr
    %td{:align => 'right'}
      %miq-button{:name      => t = _("Submit"),
                  :title     => t,
                  :alt       => t,
                  :enabled   => "!angularForm.$pristine && !angularForm.$invalid",
                  'on-click' => "vm.submitClicked()",
                  :primary   => true}
      %miq-button{:name      => t = _("Cancel"),
                  :title     => t,
                  :alt       => t,
                  :enabled   => "true",
                  'on-click' => "vm.cancelClicked()"}
