.clearfix
.pull-right.button-group.edit_buttons{"ng-controller" => "buttonGroupController"}
  %miq-button{:name      => t = _("Add"),
              :title     => t,
              :alt       => t,
              'ng-show'  => 'newRecord',
              :enabled   => "saveable(angularForm)",
              'on-click' => "addClicked({target: '.edit_buttons'}, true)",
              :primary   => 'true'}
  %miq-button{:name      => t = _("Save"),
              :title     => t,
              :alt       => t,
              'ng-show'  => '!newRecord',
              :enabled   => "miqService.saveable(angularForm)",
              'on-click' => "saveClicked({target: '.edit_buttons'}, true)",
              :primary   => 'true'}
  %miq-button{:name      => t = _("Reset"),
              :title     => t,
              :alt       => t,
              'ng-show'  => '!newRecord',
              :enabled   => "!angularForm.$pristine",
              'on-click' => "resetClicked()"}
  %miq-button{:name      => t = _("Cancel"),
              :title     => t,
              :alt       => t,
              :enabled   => "true",
              'on-click' => "cancelClicked({target: '.edit_buttons'})"}
