.clearfix
.pull-right.button-group
  %miq-button{:name => _("Add"), :title => _("Add"), :alt => _("Add"), 'ng-show' => 'newRecord', :enabled => "newRecord && saveable(angularForm)", 'on-click' => "addClicked($event, true)", :primary => 'true'}
  %miq-button{:name => _("Save"), :title => _("Save"), :alt => _("Save"), 'ng-show' => '!newRecord', :enabled => "saveable(angularForm)", 'on-click' => "saveClicked($event, true)", :primary => 'true'}
  %miq-button{:name => _("Reset"), :title => _("Reset"), :alt => _("Reset"), 'ng-show' => '!newRecord', :enabled => "!angularForm.$pristine", 'on-click' => "resetClicked()"}
  %miq-button{:name => _("Cancel"), :title => _("Cancel"), :alt => _("Cancel"), :enabled => "true", 'on-click' => "cancelClicked($event)"}
