.clearfix
.pull-right.button-group
  %miq-button{:name      => t = _("Add"),
              :title     => t,
              :alt       => t,
              'ng-show'  => 'newRecord',
              :enabled   => "newRecord && saveable(angularForm)",
              'on-click' => "addClicked($event, true)",
              :primary   => 'true'}
  %miq-button{:name      => t = _("Save"),
              :title     => t,
              :alt       => t,
              'ng-show'  => '!newRecord',
              :enabled   => "saveable(angularForm)",
              'on-click' => "saveClicked($event, true)",
              :primary   => 'true'}
  %miq-button{:name      => t = _("Reset"),
              :title     => t,
              :alt       => t,
              'ng-show'  => '!newRecord',
              :enabled   => "!angularForm.$pristine",
              'on-click' => "resetClicked()"}
  %miq-button{:name      => t = _("Cancel"),
              :title     => t,
              :alt       => t,
              :enabled   => "true",
              'on-click' => "cancelClicked($event)"}
