/* Bootstrap overrides */
.whitelabel {
  background-image: image-url($img-bg-login-whitelabel);
  background-size: 100% 100%;
}

.about-modal {
  .bx--modal-container {
    background-color: $modal-about-pf-bg-color;
    /* 'About' modal background image */
    background-image: image-url($modal-about-pf-bg-img);
    background-size: 100% 100%;

    .bx--modal-header {
      padding-left: 5rem;
      padding-top: 3rem;
      .bx--modal-header__heading {
        color: #fff;
      }
      .bx--modal-close {
        .bx--modal-close__icon {
          fill: #fff;
        }
      }
    }

    .about-modal-body {
      padding-left: 4rem;
  
      .about-visible-scrollbar {
        height: 200px;
        overflow: auto; 
      }
  
      .about-visible-scrollbar::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      .about-visible-scrollbar::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px #f5f5f5;
        border-radius: 10px;
      }
      
      /* Handle */
      .about-visible-scrollbar::-webkit-scrollbar-thumb {
        background: #f5f5f5;
        border-radius: 10px;
      }

      .ModalItem {
        font-size: 12px;
        color: #fff;
        margin: 0 0 5px;
      }
      .plugins-button {
        padding: 0;
        background-color: transparent;
        outline: none;
        color: #fff;
        font-size: 12px;
      }
      .logo {
        position: fixed;
        z-index: -1;
        scale: 0.8;
        right: 1rem;
        bottom: 1rem;
      }
    }
  }  
}