/*
 *= require bower_components/c3/c3
 *= require bower_components/patternfly-bootstrap-treeview/dist/bootstrap-treeview.min
 *= require ./main
 *= require ./automate_import_export
 *= require ./dialog_fields
 *= require angular
 *= require ./notifications
 *= require bower_components/angular-patternfly/dist/styles/angular-patternfly
 *= require ./schedule_editor
 *= require ./miq_tree
 *= require bower_components/codemirror/lib/codemirror
 *= require bower_components/codemirror/theme/eclipse
 *= require bower_components/kubernetes-topology-graph/dist/topology-graph
 *= require ./container_providers_dashboard
 *= require ./wizard
 *= require ./timeline
 *= require ./topology
 *= require ./container_topology
 *= require ./metrics
 *= require ./service_dialogs
 *= require bower_components/xml_display/XMLDisplay
 *= require bower_components/patternfly-timeline/dist/timeline
 *= require bower_components/manageiq-ui-components/dist/css/ui-components
 *= require ui-select/dist/select
 *= require ./remote_console
*/
