/*
 *= require ./main
 *= require ./automate_import_export
 *= require ./dialog_fields
 *= require ./angular
 *= require ./notifications
 *= require ./schedule_editor
 *= require ./miq_tree
 *= require ./timeline
 *= require ./topology
 *= require ./container_topology
 *= require ./physical_infra_topology
 *= require ./metrics
 *= require ./service_dialogs
 *= require @manageiq/ui-components/dist/css/ui-components
 *= require ./remote_console
 *= require ./piecharts
*/
