.pf-c-select__menu-item {
  position: relative;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  background-color: transparent;
  border: none;
}

.pf-c-select__menu-item:focus,
.pf-c-select__menu-item.pf-m-focus {
  text-decoration: none;
  background-color:rgb(237, 237, 237);
}

.pf-c-select__menu-item:focus,
.pf-c-select__menu-item.pf-m-focus {
  position: relative;
}

.expression-options ul {
    padding-left: 0px;
    li {
        display: block;
    }
}
