.fonticon-picker-modal {
  height: calc(100vh - 260px);
  overflow-y: auto !important;
  overflow-x: hidden;

  div.fonticon {
    font-size: 24px;
    text-align: center;

    span.active {
      i {
        padding: 3px 5px 3px 5px;
        background-color: #0088ce;
        color: #fff;
      }
    }
  }
}
