.fonticon-picker-modal {
  height: calc(100vh - 260px);
  overflow-y: auto !important;
  overflow-x: hidden;

  div.fonticon {
    font-size: 24px;
    text-align: center;

    span.active {
      i {
        padding: 3px 5px 3px 5px;
        background-color: #0088ce;
        color: #fff;
      }
    }
  }
}

.fonticon-picker{
  .icon-button{
    background-color: #f4f4f4;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    color: #161616;
    &:before, &:after, &:focus, &:hover, &:visited, &:active{
      background-color: #f4f4f4;
      color: #161616;
      border: none;
      border: 1px solid #8d8d8d !important;
    }
  }
}
