/* Bootstrap overrides */

/* Header background image */

.navbar-pf-vertical {
  /* background image attribute can be set in /public/custom.css */
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: $navbar-pf-alt-bg-color;
}
