.icons {
  font-size: 20px;
  height: 18px;
  padding-right: 3px;
}

/* begin icon class customizations */

.fa-1xplus { //custom resize for fa-tachometer on dashboard summary toggle
  font-size: 1.18em;
}
.fa-pause:before {
  color: #eb7720;
}
.pficon-close:before {
  // color: $color-critical;
}
.pficon-folder-close-blue:before {
  content: "\e607";
  color: #3188c5;
}
.pficon-registry-unknown {
  color: $color-warning;
  content: "\e623";
}

.ff-condition:before {
  color: #39a5dc; //pf-blue-300
}

.fa-inactive, .ff-inactive, .pficon-inactive { // add styling to show inactive icon (policies, etc)//
opacity:0.6;
}

.compare-same {
  @extend .fa, .fa-lg, .fa-check;
  color: #403990;
}

.compare-diff {
  @extend .fa, .fa-lg, .fa-times;
  color: #21a0ec;
}

.drift-delta {
  @extend .fa, .fa-play, .fa-rotate-270;
  color: #21a0ec;
}

.green > i {
  color: #2d7623; //pf-green-500
}

.red > i {
  color: #cc0000; //pf-red-100
}

.orange > i {
  color: #ec7a08; //pf-orange-400
}

/*end icon class customizations*/
