.icons {
  font-size: 20px;
  height: 18px;
  padding-right: 3px;
}

/* begin icon class customizations */

.fa-1xplus { //custom resize for fa-tachometer on dashboard summary toggle
  font-size: 1.18em;
}
.fa-pause:before {
  color: #eb7720;
}
.pficon-close:before {
  // color: $color-critical;
}
.pficon-folder-close-blue:before {
  content: "\e607";
  color: #3188c5;
}
.pficon-registry-unknown {
  color: $color-warning;
  content: "\e623";
}

.ff-condition:before {
  color: #39a5dc; //pf-blue-300
}

.fa-inactive, .ff-inactive, .pficon-inactive { // add styling to show inactive icon (policies, etc)//
opacity:0.6;
}

.compare-same {
  @extend .fa, .fa-lg, .fa-check;
  color: #403990;
}

.compare-diff {
  @extend .fa, .fa-lg, .fa-times;
  color: #21a0ec;
}

.drift-delta {
  @extend .fa, .fa-play, .fa-rotate-270;
  color: #21a0ec;
}

.green > i {
  color: #2d7623; //pf-green-500
}

.red > i {
  color: #cc0000; //pf-red-100
}

.orange > i {
  color: #ec7a08; //pf-orange-400
}

/*end icon class customizations*/

/* custom button customizations*/

/* custom button icons */
.miq-custom-button-1 {
  color: #2d7623; // pf-green-500
}
.miq-custom-button-2 {
  color: #00659c; //pf-blue-500
}
.miq-custom-button-3 {
  color: #f5c12e; //pf-gold-300
}
.miq-custom-button-4 {
  @extend .fa, .fa-star;
  color: #2d7623; //pf-green-500
}
.miq-custom-button-5 {
  @extend .fa, .fa-circle;
  color: #ec7a08; //pf-orange-400
}
.miq-custom-button-6 {
}
.miq-custom-button-7 {
}
.miq-custom-button-8 {
  color: #cc0000; //pf-red-100
}
.miq-custom-button-9 {
  @extend .fa, .fa-angle-double-down;
  color: #00659c; //pf-blue-500
}
.miq-custom-button-10 {
  @extend .fa, .fa-angle-double-up;
  color: #00659c; //pf-blue-500
}
.miq-custom-button-11 {
  @extend .fa, .fa-angle-double-left;
  color: #00659c; //pf-blue-500
}
.miq-custom-button-12 {
  @extend .fa, .fa-angle-double-right;
  color: #00659c; //pf-blue-500
}
.miq-custom-button-13 {
  color: #00659c; //pf-blue-500
}
.miq-custom-button-14 {
  @extend .fa, .fa-refresh;
  color: #2d7623; //pf-green-500
}
.miq-custom-button-15 {
  @extend .fa, .fa-power-off;
  color: #cc0000; //pf-red-100
}

/* end custom button icons */
