.icons {
  font-size: 20px;
  height: 18px;
  padding-right: 3px;
}

.fa-inactive,
.ff-inactive,
.pficon-inactive {
  opacity: 0.6; // add styling to show inactive icon (policies, etc)
}

.fa-1xplus {
  font-size: 1.18em; //custom resize for fa-tachometer on dashboard summary toggle
}

.popover {
  max-width: none;
}

.blue {color: #39a5dc;}   //pf-blue-300
.blue-quad {color: #0099cc;}
.green {color: #2d7623;}  //pf-green-500
.orange {color: #ec7a08;} //pf-orange-400
.purple {color: #40199a;} //pf-purple-600
.red {color: #cc0000;}    //pf-red-100

.compare-same {
  @extend .fa, .fa-lg, .fa-check, .purple;
}

.compare-diff {
  @extend .fa, .fa-lg, .fa-times, .blue;
}

.import-add {
  @extend .fa, .fa-lg, .fa-plus, .green;
}

.import-conflict {
  @extend .fa, .fa-lg, .fa-times, .red;
}

.import-update {
  @extend .fa, .fa-lg, .fa-check, .green;
}

.drift-delta {
  @extend .fa, .fa-play, .fa-rotate-270, .blue;
}

.fa-ruby {
  @extend .fa, .fa-lg, .fa-diamond, .red;
}

.pf-blue-info {
  @extend .blue;
}

.pficon-folder-close-blue {
  @extend .pficon-folder-close, .blue;
}

.pficon-registry-unknown {
  @extend .pficon-registry, .orange;
}

.single-wrapper .fonticon {
  @extend .blue-quad;
}
