.miq-metrics {
  .list-group-item-heading {
    font-weight: 600;
    margin-bottom: 12px;
  }

  .section-title {
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
    font-size: 14px;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
  }

  .line-chart {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 70px;
  }

  #footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;

    #list-pagination {
      height: 35px;
      align-content: center;
    }

    .pagination {
      padding-right: 12px;
      margin-bottom: 0;
    }

    .items-select {
      width: auto;
    }

    .spacer {
      margin-left: auto;
    }
  }
}
