.miq-metrics {
  overflow-x:hidden;

  .ad-hoc-toolbar {
      margin-left: 10px;
  }

  .ad-hoc-tenant {
    margin-left: 5px;

    input  {
      display: inline;
      width: 190px;
    }

    button {
      vertical-align: top;
      margin-bottom: 10px;
    }
  }

  .list-view-container, .line-chart, .blank-slate-pf {
    margin-bottom: 0;
    min-height: calc(100vh - 362px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .list-view-container {
    padding-top: 10px;
  }

  .line-chart {
    margin-top: 36px;
    margin-left: 30px;
    margin-right: 50px;
  }

  .timeline-date-input {
    width: 250px;
  }

  .list-group {
    border-top: none;
  }

  .bootstrap-touchspin {
    text-align: center;
  }
}
