.miq-metrics {
  overflow-x: hidden;
  overflow-y: hidden;

  .ad-hoc-toolbar {
    margin-left: 10px;
  }
  .toolbar-pf {
    .toolbar-pf-actions {
      .form-group {
        margin-bottom: 0;
        border: 0;
      }
    }
  }

  .ad-hoc-tenant {
    margin-left: 5px;
    input {
      display: inline;
      width: 190px;
    }

    button {
      vertical-align: top;
      margin-bottom: 10px;
    }

    .btn {
      margin-left: 0;
    }
  }
  .form-group.toolbar-pf-filter {
    margin-bottom: 0;
  }
  .form-group.toolbar-actions.ng-scope {
    margin-bottom: 0;
  }

  .pagination {
    display: flex;
    float: right;
    margin: 0;
    margin-bottom: 0;
  }

  .pagination-div {
    display: flex;
    float: right;
    margin: 0;
    margin-bottom: 0;
    .page-input {
      width: 40px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: right;
    }
  }

  .graph-view {
    overflow-x: hidden;
    overflow-y: hidden;
    .form-group.toolbar-actions.ng-scope {
      margin-bottom: 10px;
    }
    .toolbar-pf-actions {
      .dropdown-kebab-pf {
        float: none;
      }
    }
  }

  .list-view-container {
    min-height: calc(100vh - 362px);
    padding-top: 10px;
    margin-bottom: 0;
  }
  .line-chart {
    min-height: calc(100vh - 347px);
    margin-top: 36px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 0;
  }

  .blank-slate-pf {
    min-height: calc(100vh - 362px);
    margin-bottom: 0;
  }

  .list-view {
    overflow-x: hidden;
    overflow-y: hidden;

    .list-group-item-container {
      margin-top: 10px;
    }
    .form-group.toolbar-actions.ng-scope {
      width: calc(100% - 485px);
      border: 0;
    }
    .dropdown-kebab-pf {
      .dropdown-menu {
        left: -5px;
      }
    }
    .toolbar-pf-actions {
      .dropdown-kebab-pf {
        float: none;
        margin-left: 0px;
      }
    }
    .filter-pf.filter-fields {
      .form-group {
        width: 410px;
      }
    }
    .toolbar-pf {
      .form-group {
        .btn-group {
          margin-left: 0;
        }
        .btn {
          margin-left: 0;
        }
      }
    }
  }

  .timeline-date-input {
    width: 300px;
  }

  .list-group {
    border-top: none;
  }

  .bootstrap-touchspin {
    text-align: center;
  }

  .tenant-filter-bar {
    margin-left: 5px;
    .dropdown-menu.open {
      margin-top: -11px;
    }
  }

  .timeline-stepper {
    margin-left: 5px;
  }

  .toolbar-pf-include-actions.ng-scope {
    width: 100%;
  }

  .toolbar-pf-actions.ng-pristine.ng-valid.no-filter-results {
    margin-bottom: 0;
  }

  .btn.btn-default.dropdown-toggle.filter-fields {
    min-width: 100px;
  }

  .filters-selector {
    .btn {
      margin-left: 0;
    }
  }

  .tenants-selector {
    .btn {
      margin-left: 0;
    }
  }
}
