.footer-button-left {
  text-align: right;
  margin: 10px;
  border: none;
}

.footer-button-right {
  text-align: left;
  margin: 10px;
  border: none;
}

.drawer-pf {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  .panel-group {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .panel.panel-default {
      &.expanded {
        min-height: 175px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
      }
      .panel-collapse {
        flex: 1 1 auto;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        min-height: 0px;
        .panel-body {
          padding: 0;
          flex: 1 1 auto;
          overflow-y: auto;
        }
      }
    }
  }
}

.drawer-pf-notification {
  .dropdown-menu-right.dropdown-menu {
    li.disabled {
      cursor: not-allowed;
      * {
        pointer-events: none;
      }
    }
  }
}

// display under button
.drawer-pf.drawer-alt-pf.drawer-pf-notifications {
  top: 38px;
  height: calc(100% - 44px);
}

#notifications-toggle {
  display: inline-block;
  // FIXME flex?
  width: 140px;

  .unread {
    color: #39a5dc;
  }
}

#breadcrumbs .breadcrumb {
  display: inline-block;
  margin-bottom: 0;
  width: calc(100% - 140px);
}
