/// ===================================================================
/// begin layout styling
/// ===================================================================

/// this media query makes the left column and the main area independently
/// scrollable and sets the paging_div at the bottom of the column

@media (min-width: $screen-sm) {
  html,
  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }

  #listnav_div .panel:first-child {
    /* hides panel top border to prevent double border with toolbar  */
    border-top: 0;
  }

  #main-content {
    /* inserts height calculation for scrollable area */
    overflow: auto;
  }

  .max-height {
    height: 100%;
  }

  #miq_ae_tools .scrollable {
    /* inserts height calculation for scrollable area */
    height: calc(100% - 50px);
    overflow: auto;
  }

  .no-padding {
    /* removings left-right padding from column */
    margin: 0 !important;
    padding: 0 !important;
  }

  .login-pf body {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

iframe,
.iframe {
  height: 100%;
  width: 100%;
}

.miq-body {
  background: #f5f5f5;
}

/// ===================================================================
/// end layout styling
/// ===================================================================

/// ===================================================================
/// begin login screen styling
/// ===================================================================

.login-pf body {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

div#saml-login {
  padding-bottom: 8px;
}

div#saml-login hr {
  display: inline-block;
  position: relative;
  top: 15px;
  width: 43%;
}

/// ===================================================================
/// end login screen styling
/// ===================================================================

/// ===================================================================
/// begin header styling
/// ===================================================================

/// toast notifications positioning
.toast-notifications-list-pf {
  top: 65px;
}

.navbar__user-name {
  color: #ffffff;
  display: inline-block;
  margin-left: 1ex;
}

/// group switcher styling

.navbar-right .dropdown-submenu > a {
  padding-left: 20px !important;
}

.navbar-right .dropdown-submenu > a::after {
  content: '\f104';
  left: 10px;
}

/// adds scrollbar to group switcher

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}

/// style changes applied when customer logo is active

li.brand-white-label.whitelabeled {
  background: url(/upload/custom_logo.png) right top no-repeat;
  background-size: auto 38px;
  height: 38px;
  margin-top: 10px;
  width: 320px;
}

/// ===================================================================
/// end header styling
/// ===================================================================

/// ===================================================================
/// begin vertical navigation styling
/// ===================================================================

.secondary-collapse-toggle-pf,
.tertiary-collapse-toggle-pf {
  &::before {
    content: '\f08d';
  }

  &.collapsed {
    &::before {
      content: '\f08d';
      display: inline-block;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

/// ===================================================================
/// end vertical navigation styling
/// ===================================================================

/// ===================================================================
/// begin dashboard styling
/// ===================================================================

/// make it possible to drop a dashboard widget into a previously empty column

.db_widgets_target {
  min-height: 78px; // .panel.height + (2 * 20px)
  padding-top: 20px; // same as .panel's margin-bottom
}

/// styles PF blank-slate within widgets

body#dashboard .blank-slate-pf {
  padding: 0 !important;
}

.blank-slate-pf .pficon-warning-triangle-o::before {
  color: #9c9c9c;
}

/// styles the aggregate-status-card to add suppport to font-fabulous
/// icons that are not yet supported by PF

.card-pf-aggregate-status-notifications {
  .ff {
    font-size: ($font-size-base * 1.5); // 18px
    margin-right: 7px;
  }
}

.card-pf-title {
  .card-pf-aggregate-status & {
    .ff
    {
      color: $card-pf-aggregate-status-title-icon-color;
      font-size: $font-size-h3;
      margin-right: 7px;
    }
  }
  .card-pf-aggregate-status-mini & {
    .ff {
      font-size: ($font-size-base * 2 + 2); // 26px
      margin-right: 0;
      min-width: ($font-size-base * 2 + 2); // 26px
      position: absolute;
      left: ($grid-gutter-width / 2);
      text-align: center;
      top: 15px;
    }
  }
}

.card-pf-link-with-icon {
  .ff {
    font-size: 16px;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.card-pf-footer {
  a > {
    .ff {
      margin-right: 5px;
    }
  }
}

/// add padding below toolbar on angular dashboards
.container-tiles-pf {
  padding-top: 20px;
}

/// styling for object card on angular dashboards

@media (min-width: $screen-md) {
  .aggregate-object-card .card-pf {
    min-height: 137px;
   > .card-pf-title > span > img {
      height: 60px;margin-top:0;
      width: 60px
    }
  }
}

/// ===================================================================
/// end dashboard styling
/// ===================================================================

/// ===================================================================
/// begin summary screen styling
/// ===================================================================

.table-summary-screen .label {
  color: #333;
  cursor: default;
  display: table-cell;
  font: normal 12px OpenSansSemibold, Arial, Helvetica, sans-serif;
  min-width: 200px;
  padding-top: 6px;
  text-align: left;
  white-space: normal;
  width: 20% !important;
}

table.table-summary-screen i {
  /* font icon styling in table view (equivalent to fa-lg) */
  display: inline-block;
  font-size: 1.333em;
  line-height: 0.75em;
  text-align: center;
  vertical-align: -15%;
  width: 1.25em;
}

table.table.table-summary-screen tbody td img {
  height: 16px;
  margin: 0 2px 0 2px;
  width: 16px;
}

/// ===================================================================
/// end summary screen styling
/// ===================================================================

/// ===================================================================
/// begin compare screen styling
/// ===================================================================

#compare-grid {
  table.table-expanded,
  .table-compressed {
    max-width: auto !important;
    table-layout: fixed !important;
    width: auto !important;
    word-wrap: break-word !important;
  }

  table.table-compressed thead tr th {
    height: 150px !important;
    text-align: center;
    white-space: nowrap;
    width: 26px !important;
  }

  table.table-compressed thead tr th div.rotated-text {
    transform: translate(0, 110px) rotate(270deg);
    width: 26px;
  }

  table.table-expanded thead tr th {
    height: 150px;
    position: relative;
  }

  table.table-expanded thead tr th div.quadicon_grid {
    bottom: 0;
    height: 80px;
    left: 0;
    margin-left: auto;
    position: absolute;
    right: 0;
  }

  table.table-compressed thead th,
  table.table-compressed tr td {
    text-align: center;
    width: 26px !important;
  }

  table.table-expanded thead th,
  table.table-expanded tr td {
    min-width: 175px !important;
    text-align: center;
    width: 175px !important;
  }

  // sets styling of first column
  table.table-expanded tbody tr th.treegrid-node,
  table.table-compressed tbody th.treegrid-node {
    text-align: left;
    white-space: nowrap !important;
    width: 270px !important;
  }
}

/// ===================================================================
/// end compare screen styling
/// ===================================================================

/// ===================================================================
/// begin compact list view styling
/// ===================================================================

.list-view-compact .list-view-pf {
  .list-group-item {
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-top: 7px;
  }

  .list-view-pf-main-info {
    padding: 0;
  }

  .list-view-pf-left {
    padding-right: 40px;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .no-wrap {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .list-view-pf-actions {
    margin: 0;
  }

  .dropdown-kebab-pf .btn-link {
    margin-top: -7px;
  }

  .list-view-pf-checkbox,
  .list-view-pf-expand {
    margin-bottom: 0;
    margin-top: -2px;
  }

  .list-group-item.list-view-pf-expand-active {
    padding-bottom: 0;
  }
}

/// ===================================================================
/// end compact list view styling
/// ===================================================================

/// ===================================================================
/// begin quadicon styling
/// ===================================================================

miq-quadicon > .single-wrapper {
  .fonticon > i {
    color: #0099cc;
  }
}

/// ===================================================================
/// end quadicon styling
/// ===================================================================

/// ===================================================================
/// begin report styling
/// ===================================================================

/// report column styling

.miq_rpt_red_bg {
  background: #fbdbdb !important;
}

.miq_rpt_yellow_bg {
  background: #ffdc99 !important;
}

.miq_rpt_green_bg {
  background: #cef7c9 !important;
}

.miq_rpt_blue_bg {
  background-color: #76badf !important;
}

.miq_rpt_maroon_bg {
  background-color: #d4edfa !important;
}

/* now light blue */
.miq_rpt_purple_bg {
  background-color: #c0acdc !important;
}

.miq_rpt_gray_bg {
  background-color: #d1d1d1 !important;
}

.miq_rpt_red_text {
  color: #cc0000;
  font-weight: bold;
}

.miq_rpt_yellow_text {
  color: #cccc00;
  font-weight: bold;
}

.miq_rpt_green_text {
  color: #3f9c35;
  font-weight: bold;
}

.miq_rpt_blue_text {
  color: #006e9c;
  font-weight: bold;
}

.miq_rpt_purple_text {
  color: #925bad;
  font-weight: bold;
}

.miq_rpt_maroon_text {
  color: #76badf;
  font-weight: bold;
}

.miq_rpt_gray_text {
  color: gray;
  font-weight: bold;
}

/// report menu editor accordion

.panel-heading.active {
  background: #ddd !important;
}

/// ===================================================================
/// end report styling
/// ===================================================================

/// ===================================================================
/// begin classic ui-specific overrides of ui-components styling
/// ===================================================================

.no-action .miq-data-table,
.no-action .miq-tile-section {
  td, a {
    cursor: default !important;
  }
}

/// begin paginator styling

@media (min-width: $screen-sm) {
  #paging_div {
    /* sets paging_div at bottom of screen and styles */
    border-top: 1px solid #d1d1d1;
    margin-top: 0;
    top: 0;

    .col-md-12 {
      padding: 0;
    }

    .content-view-pf-pagination {
      border: 0;
      height: 44px;
      margin: 0;
      padding: 3px 0 0 10px;
    }
  }
}

/// end paginator styling

/// begin table view styling

table.non-breakable td:not(.table-view-pf-select) {
  word-break: unset !important;
}

table.table td:not(.table-view-pf-select) {
  //Force word break but prevent bs-switch from wrapping
  word-break: break-all;
}

table.table td .bootstrap-switch {
  word-break: keep-all;
}

#gtl_div table.table td {
  // Enable word wrapping
  word-break: normal !important;
}

.card .card-content .miq-info-section > div {
  position: absolute;
  right: 0;
  top: -35px;
}

table.table tbody td img {
  height: 20px;
  width: 20px;
}

.table > thead > tr > th {
  font-family: inherit !important;
  vertical-align: top;
}

/// end table view styling

/// ===================================================================
/// end Classic UI-specific overrides of ui-components styling
/// ===================================================================

/// ===================================================================
/// begin misc styling
/// ===================================================================

// replaces <br> tag
.spacer {
  margin-top: 20px;
}

/// Adds vertical space between tabs and content

.tab-content {
  margin-top: 10px;
}

/// replaces onmouseover="this.style.cursor='pointer'"
.table-hover tbody tr:hover > td {
  cursor: hand;
  cursor: pointer;
}

/// same for other tables than originally style3
.pointer:hover {
  cursor: pointer;
}

/// Adjust search styling of 2nd button (adv search)

.search-pf.has-button .form-group {
  width: auto;
}

/// Overrides patternfly style for disabled accordion items

.nav-stacked > li.disabled > a {
  color: #9c9c9c;
}
.nav-stacked > li.disabled:hover > a {
  background: transparent;
  border: transparent;
  margin-bottom: 1px;
  margin-top: 1px;
}

// Table View override for policy action options

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
  border: none;
}

// override font-weight for dropdowns within table headers

.table thead th select {
  font-weight: normal;
}

table .table-view-pf-select i {
  /* font icon styling in table view (equivalent to fa-lg) */
  display: inline-table;
  font-size: 1.33333333em;
  line-height: 0.75em;
  padding-left: 2px;
  vertical-align: -15%;
}

// disables hover and pointer on row

table.table-hover tbody tr:nth-child(odd).no-hover:hover td {
  background: transparent;
  cursor: default;
}

table.table-hover tbody tr:nth-child(even).no-hover:hover td {
  background-color: $table-bg-accent;
  cursor: default;
}

table.table.table-selectable tbody tr.selected td {
  background-color: $link-color;
  color: #fff;
}

/* static class form-horizontal for displaying static info with reduced row height */
.form-horizontal.static .form-group {
  margin-bottom: 5px;
  min-height: 28px;
}

/* resize png files displayed in form-groups */

.form-horizontal.static .form-group img {
  height: 20px;
  width: 20px;
}

.form-horizontal.static .form-group .control-labelimage img {
  height: 80px;
  width: 80px;
}

/* extra vertical margin to accomodate multiple switches */
.form-horizontal .form-group .bootstrap-switch {
  margin-bottom: 4px;
  margin-top: 2px;
}

/* Ensure .form-control-static doesn't change height when it's empty - Bootstrap fix #15699 */
.form-control-static {
  min-height: ($line-height-computed + $font-size-small - 20);
}

/* prevents empty dd from collapsing */

.dl-horizontal > dd::after {
  clear: both;
  content: '';
  display: table;
}

/* eliminates horizontal scrollbar in some browsers */
.bootstrap-select .dropdown-menu {
  overflow-y: visible !important;
}

/* sets width to auto for bootstrap-select */
.selectWidth {
  width: auto !important;
}

/* compensates for scrollbars in browsers that cover options in very narrow dropdowns */

.selectWidth .dropdown-menu ul li {
  padding-right: 10px;
}

/* Sets font icon styling for view buttons on Default Views screen */

#tab_div ul.list-inline a {
  color: #222222 !important;
  font-size: 16px;
}

#tab_div ul.list-inline li.active {
  color: $link-color !important;
  font-size: 16px;
}

.icon-green {
  color: green;
}

.icon-red {
  color: red;
}

/* Action cell */

.action-cell {
  position: relative;
  width: 100px;
}

.action-cell .btn {
  border: none;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/// chargeback edit view

tr.rdetail > td {
  white-space: nowrap;
}

td.action > .btn.btn-default {
  width: 50px;
}

.cards-pf .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #f5f5f5 !important;
}

/// custom modal class for adv search
@media (min-width: $screen-sm) {
  .modal-xl {
    max-width: 1200px;
    width: 90%;
  }
}

/// custom modal class for Entry Point (creates scrollable area)

#automate_treebox {
  height: 350px !important;
  overflow-y: auto !important;
}
/// scrollable
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

/// error modal

.error-modal-miq {
  & .error-icon {
    font-size: xx-large;
    margin-top: 16px;
  }
}

#errorModal .modal.show {
  z-index: 2000;
}

/// force word-break for long text strings in modals

.modal-body p {
  word-wrap: break-word;
}

/// Panel in sidebar doesn't need bottom margin
.sidebar-pf-left {
  .panel-group {
    margin-bottom: 0;
  }
}

table .label {
  // Adds margin to the label to vertically align with text
  margin-top: 3px;
}

//  openSCAP result styling

.label-low-severity {
  background-color: $color-low-severity;
}

#notification {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

#notification,
#search_notification {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: image-url('layout/overlay_dark.png');
  color: #fff;
  text-align: center;
  text-shadow: #000 2px 2px 0;
  font: normal 116% OpenSansSemibold, Arial, Helvetica, sans-serif;
}

#blocker_div {
  background: image-url('layout/overlay_dark.png');
  bottom: 0;
  color: #fff;
  display: block;
  height: 100%;
  margin: 0;
  padding: 100px 0 0 0;
  position: fixed;
  text-shadow: #000 2px 2px 0;
  width: 100%;
  z-index: 48;
}

#spinner_div {
  height: 180px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 1;
}

// display pointer on disabled elements

div.disabled {
  cursor: default;
}

textarea {
  border: 1px solid #d1d1d1;
  line-height: 1.5em;
  padding: 7px;
  width: 98.5%;
}

fieldset {
  border: 1px solid #e9e8e8;
  margin: 0 7px 20px 0;
  padding: 10px;
  position: relative;
}

/* Centering for Hovered VMs */
#outer {
  height: 1px;
  left: 0;
  overflow: visible;
  position: absolute;
  top: 50%;
  width: 100%;
}

#inner {
  height: 100px; /***  width / 2  ***/
  left: 50%;
  margin-left: -50px;
  position: absolute; /***  height / 2   ***/
  top: -50px;
  width: 100px;
}

#notification,
#search_notification {
  background: image-url('layout/overlay_dark.png');
  bottom: 0;
  color: #fff;
  display: block;
  font: normal 116% OpenSansSemibold, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  text-shadow: #000 2px 2px 0;
  width: 100%;
  z-index: 1000;
}

#blocker_div {
  background: image-url('layout/overlay_dark.png');
  bottom: 0;
  color: #fff;
  display: block;
  height: 100%;
  margin: 0;
  padding: 100px 0 0 0;
  position: fixed;
  text-shadow: #000 2px 2px 0;
  width: 100%;
  z-index: 48;
}

/************ Hover Buttons ************/

.dimmed {
  background: #f5f5f5;
  opacity: 0.4;
}

/************ Misc ************/

/* select boxes */
.form .widthed {
  width: 400px;
}

/* Lightbox background */

#lightbox {
  background: #fff;
  display: none;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: 1000;
}

/* Lightbox panel with some content */

#lightbox-panel {
  background: #fff;
  border: 2px solid #ccc;
  display: none;
  height: 85%;
  left: 50%;
  margin-left: -35%;
  padding: 10px 15px 10px 15px;
  position: fixed;
  top: 100px;
  width: 80%;
  z-index: 1001;
}

#spinner_div {
  background: image-url('layout/overlay_dark.png');
  border-radius: 8px;
  height: 180px;
  margin-left: -35px;
  margin-top: -45px;
  width: 180px;
}

.sidebar-disabled, .treeview.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.no-border {
  border: none !important;
}

.sortable-placeholder {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px dashed #ddd;
}

.text-vertical-overflow-pf {
  max-height: 17ex;
  overflow-y: auto;
}

#exp_editor_div .form-group{
  margin-left: 0
}

table.table-expanded tr td .piechart {
  margin-left: 67px;
}

table.table-compressed tr td .piechart {
  margin-left: 5px;
}

.treeview .icon.node-icon-background {
  color: #fff;
}

/* make sure uib-tooltip respects newlines */
.tooltip-inner {
  white-space: pre-wrap;
}

/// ===================================================================
/// end misc styling
/// ===================================================================

.miq-toolbar-actions {
  margin-top: -20px !important;
}

/* responsive styling for new react forms (refactor after all forms are converted )*/

@media (max-width: $screen-sm){
  .container-fluid form.form-react {
    width: 100%;
  }
}

@media (min-width: $screen-md) {
  .container-fluid form.form-react {
    width: 75%
  }
}

@media (min-width: $screen-lg) {
  .container-fluid form.form-react {
    width: 50%
  }
}

.navbar-pf-vertical .navbar-toggle .icon-bar,
.navbar-pf-vertical .nav .nav-item-iconic .pficon,
.navbar-pf-vertical .nav .nav-item-iconic .fa {
  color: #fff;
}

table.c3-tooltip td {
  background-color: #393f44;
}

.nav-pf-vertical {
  .menu-list-group-item {
    border-bottom: 1px solid rgb(3, 3, 3);
    border-top: 1px solid rgb(3, 3, 3);
    box-sizing: border-box;
    padding: 0;
    margin-bottom: -1px;
    position: relative;
    &:first-child {
      border-top: none;
    }
    a {
      background-color: transparent;
      color: #d1d1d1;
      cursor: pointer;
      display: block;
      font-size: 14px;
      font-weight: 400;
      height: 63px;
      line-height: 26px;
      padding: 17px 20px 17px 25px;
      position: relative;
      white-space: nowrap;
      width: 225px;
      text-decoration: none;
      .pficon, .fa {
        color: #72767b;
        float: left;
        font-size: 20px;
        line-height: 26px;
        margin-right: 10px;
        text-align: center;
        width: 24px;
      }
    }
    .list-group-item-value {
      flex: 1;
      max-width: none;
      padding-right: 15px;
      line-height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .menu-list-group-item.active {
    a {
      background-color: #393f44;
      color: #fff;
      font-weight: 600;
      .pficon, .fa {
        color: #39a5dc;
      }
    }
    a:before {
      background: #39a5dc;
      content: " ";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 3px;
    }
    .nav-pf-secondary-nav {   
      .nav-item-pf-header {
        a {
          ::before {
            opacity: 1;
          }
        }
      }
    }
  }
  .menu-list-group-item:hover {
    a {
      background-color: #393f44;
      color: #fff;
      font-weight: 600;
      width: calc(225px + 1px);
      z-index: 1031;
      .pficon, .fa {
        color: #39a5dc;
      }
    }
  }
  .nav-pf-secondary-nav {
    .nav-item-pf-header {
      a {
        ::before {
          font-family: "FontAwesome";
          content: '\f08d';
          color: #0099d3;
          margin-right: 7px;
          opacity: 0;
        }
        &.collapsed {
          ::before {
            transform: rotate(45deg);
            display: inline-block;
          }
        }
        color: #fff;
        opacity: 1;
        font-size: 16px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 400;
        cursor: pointer;
        padding: 0;
        height: auto;
        background: transparent;
        z-index: 0;
      }
    }
    .menu-list-group-item {
      border: none;
      padding: 0 0 5px 0;
      width: 225px;
      margin-bottom: -1px;
      &.tertiary-nav-item-pf {
        a {
          ::after {
            color: #72767b;
            content: "\f105";
            display: block;
            font-family: "FontAwesome";
            font-size: 20px;
            line-height: 20px;
            padding: 0;
            position: absolute;
            right: 20px;
            top: 4px;
          }
        }
      }
      a {
        background-color: #393f44;
        color: #d1d1d1;
        font-size: 12px;
        font-weight: inherit;
        height: inherit;
        margin-left: 20px;
        width: calc(225px - 20px);
        display: flex;
        opacity: 1;
        padding: 4px 0 2px 0;
        .list-group-item-value {
          padding-left: 5px;
          flex: 1;
          max-width: none;
          padding-right: 15px;
        }
      }
    }
    .menu-list-group-item.active, .menu-list-group-item:hover {
      a {
        background-color: #4d5258;
        color: #fff;
        font-weight: 600;
      }
    }
    a:before {
      display: none;
    }
    .menu-list-group-item:hover {
      a {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  .nav-pf-tertiary-nav{
    .nav-item-pf-header {
      a {
        font-size: 16px;
        font-weight: 400 !important;
        margin: 0;
        padding: 0;
        background-color: #4d5258;
        color: #fff;
        ::after {
          display: none !important;
        }
      }
    }  
    .menu-list-group-item {
      a {
        background-color: #4d5258;
        span {
          font-weight: 400;
          color: #fff;
        }
        ::after {
          display: none !important;
        }
      }
    }
    .menu-list-group-item.active, .menu-list-group-item:hover {
      a {
        background-color: #393f44;
        span {
          font-weight: 600;    
        }
      }
    }
  }

  &.collapsed {
    .menu-list-group-item, .menu-list-group-item.active {
      >a.top-level {
        >.list-group-item-value {
          display: none;
        }
        padding: 17px 0 17px 25px;
        width: 75px;
        &::after {
          right: 10px;
        }
      }
      >a.top-level:hover {
        width: calc(75px + 1px);
      }
    }
  }
}


