$topology-colors: (
  PhysicalServer:  #030303,
  PhysicalRack:    #030303,
  PhysicalSwitch:  #030303,
  PhysicalChassis: #030303,
  Valid:           #3f9c35,
  Warning:         #ec7a08,
  Critical:        #cc0000,
  Unknown:         #bbb,
);

@each $filter-value, $color in $topology-colors {
  .topology g.#{$filter-value} text.glyph{
    fill: $color !important;
  }

  .legend kubernetes-topology-filter[filter-value="#{$filter-value}"] i{
    color: $color;
  }
}

.legend kubernetes-topology-filter[filter-value="Unknown,None"] i{
  color: map-get($topology-colors, Unknown)
}
