$topology-colors: (
  PhysicalServer:  #030303,
  PhysicalRack:    #030303,
  PhysicalSwitch:  #030303,
  PhysicalChassis: #030303,
);

@each $component, $color in $topology-colors {
  .legend kubernetes-topology-icon[kind="#{$component}"] i{
    color: $color;
  }

  .topology g.#{$component} text.glyph{
    fill: $color !important;
  }
}
