#remote-console {
  position: fixed;
  width: 100%;
  height: calc(100% - 30px) !important;
  overflow: auto;
}
footer {
  position: fixed;
  line-height: 30px;
  vertical-align: middle;
  height: 30px;
  width: 100%;
  top: calc(100% - 32px);
  padding-left: 0.2em;
  padding-right: 0.2em;
}
