.miq_rpt_red_bg {
  background: #fbdbdb !important;
}

.miq_rpt_yellow_bg {
  background: #ffdc99 !important;
}

.miq_rpt_green_bg {
  background: #cef7c9 !important;
}

.miq_rpt_blue_bg {
  background-color: #76badf !important;
}

.miq_rpt_maroon_bg {
  background-color: #d4edfa !important;
}

/* now light blue */
.miq_rpt_purple_bg {
  background-color: #c0acdc !important;
}

.miq_rpt_gray_bg {
  background-color: #d1d1d1 !important;
}

.miq_rpt_red_text {
  color: #cc0000;
  font-weight: bold;
}

.miq_rpt_yellow_text {
  color: #cccc00;
  font-weight: bold;
}

.miq_rpt_green_text {
  color: #3f9c35;
  font-weight: bold;
}

.miq_rpt_blue_text {
  color: #006e9c;
  font-weight: bold;
}

.miq_rpt_purple_text {
  color: #925bad;
  font-weight: bold;
}

.miq_rpt_maroon_text {
  color: #76badf;
  font-weight: bold;
}

.miq_rpt_gray_text {
  color: gray;
  font-weight: bold;
}
