/* stylelint-disable selector-type-no-unknown */
kubernetes-topology-graph {
  border-top: 1px solid #eee;
  position: fixed;
  height: 76%;
  width: 98%;
  padding: 10px;
}

.topology .legend {
  font-family: "Open Sans", Open Sans, sans-serif;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}

.topology .legend label {
  font-weight: 400;
  cursor: pointer;
}

.topology #selected {
  float: right;
  display: block;
  margin-top: 15px;
}

kubernetes-topology-filter,
kubernetes-topology-icon {
  opacity: 0.4;
  padding: 10px 10px;
}

kubernetes-topology-filter.active,
kubernetes-topology-icon.active {
  opacity: 1;
}

kubernetes-topology-filter svg,
kubernetes-topology-icon svg {
  width: 39px !important;
  height: 39px !important;
  display: inline-block;
}

.kube-topology g {
  font-family: "Open Sans", Open Sans, sans-serif;
}

.kube-topology g text.attached-label {
  display: none;
}

.kube-topology g text.attached-label.visible {
  font-size: 12px;
  fill: black;
  display: block;
}

.kube-topology g.selected {
  stroke-width: 4px;
}

.kube-topology g circle {
  stroke-width: 2px;
  stroke: #aaa;
  fill: #fff;
}

.kube-topology g circle.success {
  stroke: #3f9c35;
}

.kube-topology g circle.error {
  stroke: #cc0000;
}

.kube-topology g circle.warning {
  stroke: #ec7a08;
}

.kube-topology g circle.unknown {
  stroke: #bbb;
}

.topology .canvas {
  position: absolute;
}

.topology .popup {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 180px;
  border: 1px #ccc solid;
  border-radius: 6px;
  box-shadow: #333 2px 2px 4px;
  padding: 6px;
  font-size: 14px;
}

.topology .popup h5 {
  font-weight: bold;
}

.topology .popup p {
  margin: 0 0 4px;
}

.topology .popup p:hover {
  color: #0099cc;
  cursor: pointer;
}

.topology label.checkbox-inline {
  font-size: 14px;
}

.floating-not-found {
  width: 100%;
  text-align: center;
  font-size: large;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 24px;
  z-index: 100;
}

line.PhysicalServerPhysicalSwitch {
  stroke : #3f9c35;
  stroke-dasharray: 5;
}

.topology-filter-group {
  float: left;
  padding: 0px 10px;
  margin: 10px 0px;
}

.topology-filter-group > label {
  vertical-align: middle;
  padding: 10px 10px;
  cursor: pointer;
}

.topology-filter-group:not(:first-child) {
  border-left: 1px solid #d1d1d1;
}