/ begin: app/views/miq_ae_customization/_old_dialogs_list.html.haml
- if x_node == "root"
  = render :partial => "old_dialogs_folders"
- if @view
  = render :partial => 'layouts/x_gtl'
/ end: app/views/miq_ae_customization/_old_dialogs_list.html.haml
