-# if dialogs is selected
- miq_dialog_s = MiqDialog::DIALOG_TYPES.map do |label, model|
  - [_(label), model]
- miq_dialog_s = miq_dialog_s.sort
- dialog_types = @dialog.dialog_type ? miq_dialog_s : [["<#{_('Choose')}>", ""]] + miq_dialog_s

- if @dialog
  - if @in_a_form
    = react('MiqAeCustomization',
      :dialogRecord => @dialog,
      :dialogTypes  => dialog_types)
- if @dialog && !@in_a_form
  = miq_ae_customization_summary(@dialog)
