#dialog-editor
  = render :partial => "layouts/flash_msg"
  %miq-dialog-editor{"dialog-id"     => dialog_id_action.id,
                     "dialog-action" => dialog_id_action.action}

:javascript
  miq_bootstrap('#dialog-editor');
  // Fixes wrong coordinates of draggable element after scrolling in #main-content.
  // To be selected as scrollParent it cannot have position: static(default setting of #main-content) so it's overridden here
  $("#main-content").css("position", "relative");
