%div{"ng-if" => "!drawerHidden"}
  .dropdown.pull-right.dropdown-kebab-pf{'uib-dropdown' => ''}
    %button.btn.btn-link.dropdown-toggle{'uib-dropdown-toggle' => '',
                                         :type                 => 'button',
                                         :id                   => 'dropdownKebabRight-{{ notification.id }}',
                                         'aria-haspopup'       => 'true',
                                         'aria-expanded'       => 'false'}
      %span.fa.fa-ellipsis-v
    %ul.dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'dropdownKebabRight-{{ notification.id }}'}
      %li{:role => 'menuitem', 'ng-class' => "{'disabled': !notification.data.link}"}
        %a.secondary-action{:title => _('View details'), 'ng-click' => 'customScope.viewNotificationDetails(notification)'}
          = _('View details')
      %li.divider{:role => 'separator'}
      %li{:role => 'menuitem', 'ng-class' => "{'disabled': !notification.unread}"}
        %a.secondary-action{:title => _('Mark as read'), 'ng-click' => 'customScope.markNotificationRead(notification, notificationGroup)'}
          = _('Mark as read')
      %li{:role => 'menuitem'}
        %a.secondary-action{:title => _('Remove'), 'ng-click' => 'customScope.clearNotification(notification, notificationGroup)'}
          = _('Remove')
  %span.pull-left{'ng-class' => 'customScope.getNotficationStatusIconClass(notification)',
                  'ng-click' => 'customScope.markNotificationRead(notification, notificationGroup)'}
  .drawer-pf-notification-content{'ng-click' => 'customScope.markNotificationRead(notification, notificationGroup)'}
    %span.drawer-pf-notification-message{'uib-tooltip-append'      => true,
                                         'uib-tooltip-popup-delay' => 500,
                                         'tooltip-placement'       => 'bottom',
                                         'uib-tooltip'             => '{{ notification.message }}'}
      {{ notification.message }}
    .drawer-pf-notification-info{'ng-click' => 'customScope.markNotificationRead(notification, notificationGroup)'}
      %span.date
        {{ notification.timeStamp | date:'MM/dd/yyyy' }}
      %span.time
        {{ notification.timeStamp | date:'h:mm:ss a' }}
