/ begin: app/views/static/notification_drawer/notification-subheading.html.haml
%span.subheading-class
  -# TODO: i18n
  {{notificationGroup.unreadCount}} New
/ end: app/views/static/notification_drawer/notification-subheading.html.haml
