/ begin: app/views/static/notification_drawer/notification-heading.html.haml
%span.heading-class
  {{notificationGroup.heading}}
/ end: app/views/static/notification_drawer/notification-heading.html.haml
