#class_props_div
  - if x_node.split('-')[0] == "aec" || params[:pressed] || ["field_select","field_accept","field_delete"].include?(params[:action]) || (x_node.split('-')[0] == "aen" && params[:button] == "reset")
    - if !@in_a_form_props
      - class_properties_data(@sb[:namespace_path], @ae_class)
      = react('MiqStructuredList', {:title => 'Properties', :rows => @initial_data, :mode => "class_props"})
      = render :partial => "domain_overrides", :locals  => {:node_prefix => "aec", :model => "Class"}
    - else
      #form_div
        %div{:style => "padding-top: 10px;"}
        = render :partial => "class_form"
