#class_fields_div
  - if x_node.split('-')[0] == "aec" || params[:pressed] || %w(field_select field_accept field_delete).include?(params[:action])
    - if !@in_a_form_fields
      / Show Schema
      %h3= _('Schema')
      - if @ae_class.ae_fields.present?
        = render :partial => 'datastore_list', :locals => {:type => MiqAeClassHelper::DATASTORE_TYPES[:schema], :data => @ae_class.ae_fields}
      - else
        = render :partial => "layouts/info_msg",
                 :locals  => {:message => _("No schema found")}

    - else
      = render :partial => 'datastore_list', :locals => {:type => MiqAeClassHelper::DATASTORE_TYPES[:schema], :data => @ae_class.ae_fields}
