- datastore_data(type, data)
= react('Datastore', {:type           => type,
                      :initialData    => @initial_data,
                      :hasOptions     => @has_options,
                      :datastoreTypes => MiqAeClassHelper::DATASTORE_TYPES,
                      :isEdit         => !!@in_a_form_fields,
                      :editProps      => local_assigns.fetch(:edit_props, {})})
