= render :partial => "layouts/flash_msg"
#domains_list
  .row
    .col-md-7.col-sm-10.col-xs-10
      = _("Domains:")
      = select_tag('seq_fields[]',
        options_for_select(@edit[:new][:domain_order], @selected),
        :multiple => true, :class  => "form-control", :style => "overflow-x: scroll;", :size => 20, :id => "seq_fields")
      %small= _('* Select one or more consecutive groups to move up or down.')

    .col-md-1.col-sm-2.col-xs-2{:style => "padding: 10px"}
      .spacer
      .spacer
        - if @edit[:new][:domain_order].length < 2
          %button.btn.disabled.btn-block
            %i.fa.fa-lg.fa-angle-up
          %button.btn.disabled.btn-block
            %i.fa.fa-lg.fa-angle-down
        - else
          - [[_("Move selected fields up"),   'domains_list', 'up',    'fa-angle-up'],
             [_("Move selected fields down"), 'domains_list', 'down',  'fa-angle-down']].each do |title, chosen_div, action, arrow_style|
            %button.btn.btn-default.btn-block{:title                 => title,
                                              :remote                => true,
                                              "data-submit"          => chosen_div,
                                              "data-method"          => :post,
                                              "data-miq_sparkle_on"  => true,
                                              "data-miq_sparkle_off" => true,
                                              "data-click_url"       => {:url => url_for_only_path(:action => 'priority_form_field_changed',
                                                                                                   :button => action,
                                                                                                   :id     => 'priority__edit')}.to_json}
              %i.fa.fa-lg{:class => arrow_style}
