#embedded_methods_div
  - if !@in_a_form && @ae_method
    = embedded_method_list(@record[:embedded_methods])
  - else
    %hr
    = react('AeInlineMethod', {:type => "aeInlineMethod", :selected => @embedded_methods})
