= render :partial => "layouts/flash_msg"
= react('GitDomainRefreshForm',
        :domainId    => domain_id.to_s,
        :gitRepoId   => git_repo_id.to_s,
        :refType     => ref_type || 'branch',
        :refName     => ref_name || 'origin/master',
        :branchNames => branch_names || [],
        :tagNames    => tag_names || [])
