#ns_details_div
  - unless @in_a_form
    = render :partial => 'layouts/info_msg', :locals => {:message => @version_message} if @version_message
    - if @records.length.zero?
      - info_message = @record.class.to_s == 'MiqAeDomain' ? _("The selected domain is empty") : _("The selected Namespace is empty")
      = render :partial => 'layouts/info_msg', :locals => {:message => info_message}
    - else
      = render :partial => 'datastore_list', :locals => {:type => MiqAeClassHelper::DATASTORE_TYPES[:details], :data => @records}
