// FIXME: from ui-components/src/styles/colors.scss
$color-black-20: rgba(0, 0, 0, 0.2);
$color-black-30: rgba(0, 0, 0, 0.3);
$color-blue-300: #39a5dc;
$color-gray-1: #b1b1b1;
$color-light-gray-approx: #d1d1d1;
$color-lochmara-approx: #0088ce;
$color-white: #fff;
$color-white-94: rgba(255, 255, 255, 0.94);

@import 'dialog-editor';
@import 'dialog-editor-toolbox';
@import 'dialog-editor-boxes';
