  .snapshot-details-div {
    .snapshot-details {
      margin-left: 30px;
      margin-bottom: 20px;
    }
    
    .snapshot-detail-title {
      width: 80px;
      justify-content: right;
      display: inline-flex;
      margin-right: 30px;
    }

    .snapshot-detail-value {
      display: inline-flex;
    }
  }

  .snapshot-tree-title {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 40px;
  }

  .no-snapshots-message {
    padding-left: 20px;
  }

  .vm-snapshot-tree {
    font-size: 16px;
    user-select: none;
    min-height: 320px;
    padding: 20px;
    box-sizing: content-box;
  }
  
  .selected-snapshot {
    background-color: #0f62fe;
    color: white;
    width: 100%;
    margin-left: 0px;
    pointer-events: none;

    .arrow-div {
      pointer-events: all;
    }

    span {
      pointer-events: all;
    }
  }

  .arrow-div {
    display: inline-flex;
    margin-right: 5px;
  }

  .node-icon-div {
    margin-right: 5px;
    display: inline-flex;
  }

  .vm-snapshot-tree .tree,
  .vm-snapshot-tree .tree-node,
  .vm-snapshot-tree .tree-node-group {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .vm-snapshot-tree .tree-branch-wrapper,
  .vm-snapshot-tree .tree-node__leaf {
    outline: none;
  }
  
  .vm-snapshot-tree .tree-node {
    cursor: pointer;
  }
  
  .vm-snapshot-tree .tree-node .name:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .vm-snapshot-tree .tree-node--focused .name {
    background: rgba(0, 0, 0, 0.2);
  }
  
  .vm-snapshot-tree .tree-node {
    display: inline-block;
  }
  
  .vm-snapshot-tree .checkbox-icon {
    margin: 0 5px;
    vertical-align: middle;
  }
  
  .vm-snapshot-tree button {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .vm-snapshot-tree .arrow {
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .vm-snapshot-tree .arrow--open {
    transform: rotate(90deg);
  }
