.form-group{"ng-show" => "vm.newRecord || vm.changeImage || vm.pictureUrlPath === '' || vm.pictureRemove",
            "ng-class" => "{'has-error': vm.angularForm.generic_object_definition_image_file_status.$invalid}"}
  %label.col-md-2.control-label{"for" => "generic_object_definition_image_file_status"}
    = _("Custom Image File")
  .col-md-4
    %input.form-control{"type"        => "file",
                        "class"       => "filestyle",
                        "id"          => "generic_object_definition_image_file",
                        "name"        => "generic_object_definition_image_file"}
    %input.form-control{"type"        => "hidden",
                        "id"          => "generic_object_definition_image_file_status",
                        "ng-model"    => "vm.imageUploadStatus",
                        "name"        => "generic_object_definition_image_file_status"}
    .btn.btn-default{"ng-if" => "vm.changeImage", :alt => t = _("Cancel Updating Custom Image"), :title => t, "ng-click" => "vm.cancelUpdateImage()"}
      %i.pficon.pficon-close
    .btn.btn-default{"ng-if" => "vm.pictureRemove", :alt => t = _("Cancel Deleting Custom Image"), :title => t, "ng-click" => "vm.cancelDeleteImage()"}
      %i.pficon.pficon-close
    %span.help-block
      {{vm.imageUploadStatus}}

  .col-md-4
    %miq-button{:name        => t = _("Upload chosen File"),
                  :title     => t,
                  :alt       => t,
                  :enabled   => "true",
                  'on-click' => "vm.uploadClicked(angularForm)"}
.form-group{'ng-if' => "vm.pictureUrlPath !== '' && !vm.changeImage && !vm.pictureRemove"}
  %label.col-md-2.control-label{"for" => "custom_image"}
    = _("Current Custom Image File")
  .col-md-4
    %img.form-control{'ng-src' => "{{vm.pictureUrlPath}}", :style => "width:100px; height:100px;"}
      .btn.btn-default{:alt => t = _("Delete Custom Image"), :title => t, "ng-click" => "vm.removeImage()"}
        %i.pficon.pficon-delete
      .btn.btn-default{:alt => t = _("Update Custom Image"), :title => t, "ng-click" => "vm.changeImage = true"}
        %i.pficon.pficon-edit

:javascript
  $(":file").filestyle({placeholder: __("No file chosen"), icon: false});
