- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => true})

#main_div
  - case @nodetype
  - when "root"
    = render :partial => "profile_list"
  - when "pp"
    = render :partial => "profile_details"
  - when "xx"
    = render :partial => "profile_list"
