- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => true})

#main_div
  - case @nodetype
  - when "root"
    = render :partial => "alert_profile_folders"
  - when "xx"
    = render :partial => "alert_profile_list"
  - when "ap"
    = render :partial => "alert_profile_details"
