- field_changed_url ||= "form_field_changed"
- ae_sim_form       ||= false
- ae_custom_button  ||= false
- ae_ansible_custom_button ||= false
- rec_id = @edit && @edit[:action_id].present? ? @edit[:action_id] : "new"
- url    = url_for_only_path(:action => field_changed_url, :id => rec_id)
= react('AutomateSimulation',
        :resolve                   => resolve,
        :title => ui_lookup(:model => @resolve[:title]),
        :max_name_length           => ViewHelper::MAX_NAME_LEN,
        :readonly                  => resolve[:new][:readonly],
        :url                       => url,
        :ae_ansible_custom_button  => ae_ansible_custom_button,
        :form_action               => form_action,
        :ae_custom_button          => ae_custom_button,
        :attr_values_pairs         => ApplicationController::AE_MAX_RESOLUTION_FIELDS.times,
        :maxlength                 => ViewHelper::MAX_NAME_LEN,
        :submit_url                => url)
