- field_changed_url ||= "resolve_automate_simulation"
- ae_sim_form       ||= false
- ae_custom_button  ||= false
- ae_ansible_custom_button ||= false
- rec_id = @edit && @edit[:action_id].present? ? @edit[:action_id] : "new"
- url    = url_for_only_path(:action => field_changed_url, :id => rec_id)
= react('AutomateSimulationForm',
        :resolve               => resolve,
        :title                 => ui_lookup(:model => @resolve[:title]),
        :maxNameLength         => ViewHelper::MAX_NAME_LEN,
        :readonly              => resolve[:new][:readonly],
        :url                   => url,
        :aeAnsibleCustomButton => ae_ansible_custom_button,
        :formAction            => form_action,
        :aeCustomButton        => ae_custom_button,
        :attrValuesPairs       => ApplicationController::AE_MAX_RESOLUTION_FIELDS.times,
        :maxLength             => ViewHelper::MAX_NAME_LEN,
        :url                   => url)
