= render :partial => "layouts/vertical_navbar"
.container-fluid.container-cards-pf.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus{:style => "overflow: hidden; height: 100%;"}
  .row.toolbar-pf#toolbar
    .col-md-12
      - if @widgets_menu
        = render :partial => "layouts/angular/toolbar"
  .row#main-content
    .col-md-12
      .spacer
      = render :partial => 'layouts/tabs'
    .col-md-12
      = yield
