- button_div ||= "center_tb"
- rec_display = ""
- no_rec_display = "display:none"
- no_flash_div ||= false
#gtl_div
  = render :partial => "layouts/angular/gtl", :locals => {:no_flash_div => no_flash_div}
