/ begin: app/views/layouts/_miq_vnc_plugin.html.haml
#miqvncplugin_div
  %object#miqvncplugin{:type => "application/x-manageiqvncplugin"}
    %param{:name => "onload", :value => "pluginLoaded"}
/ end: app/views/layouts/_miq_vnc_plugin.html.haml
