/ begin: app/views/layouts/_performance_async.html.haml
= render(:partial => "layouts/performance")

:javascript
  ManageIQ.afterOnload = "miqAsyncAjax('#{url_for_only_path(:action => @ajax_action, :id => @record.id)}');"
/ end: app/views/layouts/_performance_async.html.haml
