/ begin: app/views/layouts/_role_enablement_expression.html.haml
= render :partial => 'layouts/filter_expression',
         :locals => {:expression_type => :enablement_expression,
                     :action          => "button_update",
                     :title           => _('Expression')}
/ end: app/views/layouts/_role_enablement_expression.html.haml
