= render :partial => 'layouts/custom_button_expression',
         :locals => {:expression_type => :visibility_expression,
                     :action          => "button_update",
                     :title           => _('Expression')}
