.col-md-12
  .pagination.content-view-pf-pagination
    - action_url = "saved_report_paging"
    - url = url_for_only_path(:action => action_url)
    - pages ||= {:perpage => settings(:perpage, :reports),
                :current => 1,
                :total   => @sb[:pages][:total],
                :items   => @sb[:pages][:items]}
    .form-group
    .form-group{:id => "rpb_div_1", :style => "justify-content: flex-end;"}
      = select_tag("ppsetting",
                  options_for_select(@pp_choices, pages[:perpage]),
                  "data-width" => "auto",
                  :class       => "selectpicker dropup")

      :javascript
        miqSelectPickerEvent("ppsetting", "#{url}", {beforeSend: true, complete: true})
      = render :partial => '/layouts/paging_bar',
               :locals => {:pages => pages, :action_url => action_url, :action_id => ''}
    :javascript
      miqInitSelectPicker();
