- if (@lastaction == 'show_list' || (@lastaction == 'show' && @layout == "ems_storage")) && |
  !session[:menu_click] && !@in_a_form |
  = render :partial => 'layouts/quick_search' if display_adv_search?
  #searchbox
    = react('SearchBar', :searchText => @search_text, :action => 'show_list', :advancedSearch => display_adv_search?)
