- if @lastaction == 'show_list' && !session[:menu_click] && !@in_a_form
  = render :partial => 'layouts/quick_search' if display_adv_search?
  #searchbox
    = form_tag({:action => 'show_list'},
               :class  => "search-pf has-button form-group pull-right",
               :method => :post) do
      .form-group.has-clear
        .search-pf-input-group
          %label{"for" => "search_text", :class => "sr-only"}
            Search
          = text_field("search", "text",
                       :id              => "search_text",
                       :value           => @search_text,
                       :alt             => _("Search by Name within results"),
                       :title           => _("Search by Name within results"),
                       :class           => "form-control",
                       "placeholder"    => _("Search"),
                       "data-miq_focus" => true)
          %button{"type"        => "button",
                  :class        => "clear",
                  "aria-hidden" => "true"}
            %span.pficon.pficon-close
      .form-group
        %button.btn.btn-default{:type => "submit"}
          %span.fa.fa-search
        - if display_adv_search?
          %button{"type"          => "button",
                  :class          => "btn btn-default",
                  "data-toggle"   => "modal",
                  "data-target"   => "#advsearchModal",
                  :id             => "adv_search",
                  :title          => _("Advanced Search")}
            %span.fa.fa-angle-double-down

:javascript
  $(function($) {
    $(document).ready(function() {
      miqHideSearchClearButton("#{@explorer}");
    });
    $("button[data-target='#advsearchModal']").click(function(){
      miqJqueryRequest("adv_search_toggle", {beforeSend: true});
      return true;
    });
  });
