- if @report.nil?
  %h3= _("Choose a Report to view.")
- else
  %fieldset
    %h3= @report_title
    = render :partial => "layouts/flash_msg"
    = render :partial => "shared/report_chart_and_html", :locals => {:html => @html, :chart => @render_chart, :report => @report}
