#tab_div
  %h3
    - if @tagitems.length > 1
      = _("Tag Assignment (Tags common to all selected items)")
    - else
      = _("Tag Assignment")
  = react 'TaggingWrapperConnected', { :tags => @tags, :urls => @button_urls }
