/ begin: app/views/layouts/_textual_groups_generic.html.haml
= render :partial => "layouts/flash_msg"
= render :partial => "layouts/textual_groups_raw"
/ end: app/views/layouts/_textual_groups_generic.html.haml
