-# If set, don't show advanced search and add nameonly class to name fields
- nameonly ||= false
= react('SearchBar', :searchText => @search_text, :action => 'x_search_by_name', :advancedSearch => !nameonly)
